<div class="tabs-content tabs-inner">

    <button class="tabs-inner__button-back button-back">
        <svg class="button-back__icon" width="24" height="24">
            <use href="/img/icons.svg#chevron-left"></use>
        </svg>
        Назад
    </button>

    <div class="tabs-inner__section application-section">

        <div class="application-section__header">
            <div class="application-section__type">Программа</div>
            <div class="application-section__title">{{$ctrl.app.entity.name}}</div>

            <div class="application-section__details">
                <div ng-if="$ctrl.app.status === 'decline'"
                     class="application-section__status application-section__status--success">Статус:
                    <span>Подтвердили</span>
                </div>
                <div ng-if="$ctrl.app.status === 'success'"
                     class="application-section__status application-section__status--error">Статус:
                    <span>Подтвердили</span>
                </div>
                <div ng-if="$ctrl.app.status === 'process'" class="application-section__status">Статус:
                    <span>На рассмотрении</span>
                </div>

                <div class="application-section__date">
                    <svg class="application-section__date-icon" width="16" height="18">
                        <use href="/img/icons.svg#calendar-grey"></use>
                    </svg>
                    {{$ctrl.app.created_at | amDateFormat : 'DD.MM.YYYY'}}
                </div>
            </div>

            <button ng-if="$ctrl.formsVisible" class="application-section__toggle-btn button-back button-back--grey"
                    ng-click="$ctrl.toggleForms()">
                <svg class="button-back__icon" width="18" height="18">
                    <use href="/img/icons.svg#toggle-2"></use>
                </svg>
                Скрыть
            </button>

            <button ng-if="!$ctrl.formsVisible"
                    class="application-section__toggle-btn button-back button-back--grey button-back--rotate"
                    ng-click="$ctrl.toggleForms()">
                <svg class="button-back__icon" width="18" height="18">
                    <use href="/img/icons.svg#toggle-2"></use>
                </svg>
                Показать
            </button>
        </div>

        <div class="application-section__body" ng-if="$ctrl.formsVisible">

            <div class="application-section__block application-block"
                 ng-repeat="appForm in $ctrl.app.forms track by $index">

                <div class="application-block__row">
                    <div class="application-block__heading">{{appForm.form.title}}</div>

                    <div class="application-block__link-box" ng-if="!appForm.isEditing">
                        <svg class="application-block__edit-icon" width="24" height="24">
                            <use href="/img/icons.svg#edit-colored"></use>
                        </svg>

                        <a href="" ng-click="$ctrl.enableEditing(appForm)"
                           class="application-block__link">Редактировать</a>
                    </div>

                    <div class="application-block__link-box" ng-if="appForm.isEditing">
                        <a href="" ng-click="$ctrl.disableEditing(appForm)" class="application-block__link">Отменить</a>
                    </div>
                </div>
                <form ng-submit="$ctrl.updateForm(appForm)">
                    <div class="application-block__input-list">
                        <div ng-repeat="field in appForm.fields track by $index"
                             ng-class="field.form_field.type === 'textarea' ? 'input-box--span2' : '' ">

                            <div class="application-block__input-box input-box"
                                 ng-if="field.form_field.type === 'text'">
                                <label class="input-box__label">{{field.form_field.label}}</label>
                                <div class="input-box__container">
                                    <input type="text" class="input-box__input" ng-model="field.value"
                                           ng-disabled="!appForm.isEditing">
                                </div>
                            </div>

                            <div class="application-block__input-box input-box"
                                 ng-if="field.form_field.type === 'textarea'">
                                <label class="input-box__label">{{field.form_field.label}} </label>
                                <textarea class="input-box__textarea"
                                          ng-disabled="!appForm.isEditing"
                                          ng-model="field.value"
                                >
                                </textarea>
                            </div>

                            <div class="application-block__input-box input-box"
                                 ng-if="field.form_field.type === 'select'">
                                <label class="input-box__label">{{field.form_field.label}}</label>

                                <div class="input-box__container">
                                    <select class="input-box__input"
                                            ng-model="field.value"
                                            ng-options="c as c.val for c in field.form_field.options"
                                            ng-required="field.form_field.is_required"
                                            ng-disabled="!appForm.isEditing">
                                    </select>

                                    <svg ng-if="appForm.isEditing" class="input-box__select-icon" width="24"
                                         height="24">
                                        <use href="/img/icons.svg#chevron-down"></use>
                                    </svg>
                                </div>
                                <div ng-if="field.value.val === 'Свой вариант'" class="input-box__container">
                                    <input type="text"
                                           ng-model="field.otherOptionValue"
                                           class="input-box__input"
                                           placeholder="Свой вариант...">
                                </div>
                            </div>

                            <div class="modal-full__input-box input-box" ng-if="field.form_field.type === 'radio'">
                                <label class="input-box__label">{{field.form_field.label}}</label>

                                <div class="input-box__radio-group">
                                    <label class="input-box__radio-item real-custom-radio-box"
                                           ng-repeat="option in field.form_field.options track by $index">
                                        <input type="radio"
                                               ng-model="field.value"
                                               ng-value="option.val"
                                               name="field.id"
                                               ng-disabled="!appForm.isEditing"
                                               class="real-custom-radio-box__radio">
                                        <span class="real-custom-radio-box__checkmark"></span>
                                        {{option.val}}
                                    </label>
                                </div>
                                <div ng-if="field.value === 'Свой вариант'" class="input-box__container">
                                    <input type="text"
                                           ng-model="field.otherOptionValue"
                                           class="input-box__input"
                                           placeholder="Свой вариант...">
                                </div>
                            </div>

                            <div class="modal-full__input-box input-box" ng-if="field.form_field.type === 'checkbox'">
                                <label class="input-box__label">{{field.form_field.label}}</label>

                                <div class="input-box__radio-group">
                                    <label class="input-box__radio-item custom-radio-box"
                                           ng-repeat="option in field.form_field.options track by option.val + field.id">
                                        <input type="checkbox"
                                               ng-model="field.value[option.val]"
                                               name="field.id"
                                               class="custom-radio-box__radio"
                                               ng-disabled="!appForm.isEditing">
                                        <span class="custom-radio-box__checkmark"></span>
                                        {{option.val}}
                                    </label>
                                </div>
                                <div ng-if="field.value['Свой вариант']" class="input-box__container">
                                    <input type="text"
                                           ng-model="field.otherOptionValue"
                                           class="input-box__input"
                                           placeholder="Свой вариант...">
                                </div>
                            </div>

                            <div class="modal-full__input-box input-box" ng-if="field.form_field.type === 'file'">
                                <label class="input-box__label">{{field.form_field.label}}</label>

                                <div class="input-box__container">

                                    <div class="input-box__files-box text-truncate">
                                        <a class="input-box__sample-link"
                                           ng-if="field.form_field.example_files"
                                           ng-repeat="file in field.form_field.example_files"
                                           href="/cabinet/download-file/{{file.path}}/{{file.name}}">
                                            <svg width="20" height="20">
                                                <use href="/img/icons.svg#download"></use>
                                            </svg>
                                            Скачать пример
                                        </a>

                                        <div class="input-box__file-box"
                                             ng-if="field.value.length > 0"
                                             ng-repeat="file in field.value">
                                            <a class="input-box__file"
                                               href="/cabinet/download-file/{{file.path}}/{{file.name}}">{{file.name}}</a>
                                            <a href=""
                                               ng-show="appForm.isEditing"
                                               ng-click="$ctrl.removeFile(field,$index)"
                                               class="input-box__file-delete">
                                                <svg width="24" height="24">
                                                    <use href="/img/icons.svg#close-icon"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>

                                    <button type="button"
                                            ng-if="appForm.isEditing"
                                            class="input-box__btn button button--xs"
                                            ngf-select=""
                                            ngf-keep="true"
                                            ng-model="field.value"
                                            ngf-change="$ctrl.validateFile($files, $file, $newFiles, $duplicateFiles,$invalidFiles, $event,field)"
                                            ngf-multiple="{{field.form_field.max_files_count === 1 ? 'false' : 'true'}}"
                                            accept="{{field.form_field.file_allows === 'specific' ? field.file_types : '*'}}"
                                            ngf-max-size="10MB">
                                        <span>Загрузить файл</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                            class="application-section__btn button button--extra-lg"
                            ng-if="appForm.isEditing">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="tabs-inner__section feedback-section">
        <div class="feedback-section__chat chat-section">

            <div class="chat-section__messages" id="chatSectionScrollDiv">

                <div ng-repeat="message in $ctrl.app.actions.message track by $index"
                     ng-class="message.name === 'application_user_message' ? 'message-block--mine' : ''"
                     class="chat-section__block message-block">
                    <img src="{{message.user.avatar_url}}" ng-show="message.name === 'application_admin_message'" alt=""
                         class="message-block__person-img">
                    <div class="message-block__content">

                        <div class="message-block__name">{{message.user.full_name}}</div>

                        <div class="message-block__text message-block__text--bordered">
                            {{message.message}}
                        </div>

                        <div class="message-block__row">
                            <div style="display: flex; flex-direction: column">
                                <a class="message-block__text"
                                   style="text-decoration: underline;"
                                   ng-if="message.additional_data.length"
                                   ng-repeat="file in message.additional_data track by $index"
                                   href="/cabinet/download-file/{{file.path}}/{{file.name}}">
                                    {{file.name}}
                                </a>
                            </div>
                            <div class="message-block__date">{{message.created_at | amDateFormat : 'ddd. DD MMMM
                                -HH:mm'}}
                            </div>
                        </div>

                    </div>

                    <img src="{{message.user.avatar_url}}" ng-show="message.name === 'application_user_message'" alt=""
                         class="message-block__person-img">

                </div>

            </div>
            <form ng-submit="$ctrl.sendMessage()" class="mb-3">
                <div class="chat-section__message-area">

                    <textarea ng-model="$ctrl.message" class="chat-section__message-input"></textarea>


                    <!--                <a href=""-->
                    <!--                   class="chat-section__link-box"-->
                    <!--                   ngf-select=""-->
                    <!--                   ngf-keep="true"-->
                    <!--                   ng-model="$ctrl.attachedFiles"-->
                    <!--                   ngf-multiple="true">-->
                    <!--                    <svg class="chat-section__link-icon" width="24" height="24">-->
                    <!--                        <use href="/img/icons.svg#paper-clip"></use>-->
                    <!--                    </svg>-->
                    <!--                    Прикрепить файл-->
                    <!--                </a>-->

                </div>
                <div class="input-box__files-box">

                    <div class="input-box__file-box" ng-repeat="file in $ctrl.attachedFiles track by $index">
                        <a class="input-box__file" href="">{{file.name}}</a>
                        <a href="" ng-click="$ctrl.removeAttachedFile($index)" class="input-box__file-delete">
                            <svg width="24" height="24">
                                <use href="/img/icons.svg#close-icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="chat-section__row">

                    <button class="chat-section__append-file"
                            ngf-select=""
                            ngf-keep="true"
                            ng-model="$ctrl.attachedFiles"
                            ngf-multiple="true">
                        <svg width="20" height="20">
                            <use href="/img/icons.svg#paper-clip"></use>
                        </svg>
                    </button>

                    <button type="submit" class="chat-section__btn button button--extra-lg">Отправить</button>
                </div>

            </form>
        </div>
        <div class="feedback-section__history history-section">

            <div class="history-section__list">

                <div class="history-section__item history-box"
                     ng-if="action.additional_data.length > 0"
                     ng-repeat="action in $ctrl.app.actions.action | orderBy:'-' track by $index">
                    <div class="history-box__row">
                        <div class="history-box__title">
                            {{action.user.full_name}} -
                            <span ng-if="action.name === 'application_updated'">редактировал заявку</span>
                            <span ng-if="action.name === 'application_sent'">отправил завяку</span>
                        </div>

                        <div class="history-box__date">
                            <span class="float-right">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</span>
                        </div>
                    </div>

                    <table class="history-box__table" ng-if="action.name == 'application_updated'">
                        <tr>
                            <th>Измененное поле</th>
                            <th>Старое значение</th>
                            <th>Новое значение</th>
                        </tr>
                        <tr ng-repeat="data in action.additional_data track by $index">
                            <td>{{data.label}}</td>
                           <td>
                               <div ng-if="data.type === 'file'">
                                   <div ng-repeat="(name,path) in data.old_data ">
                                       <a href="/cabinet/download-file/{{path}}">{{name}}</a>
                                   </div>
                               </div>
                               <div ng-if="data.type !== 'file'">
                                   <span ng-if="data.old_value_stringified">{{data.old_value_stringified}}</span>
                                   <span ng-if="!data.old_value_stringified">{{data.old_value}}</span>
                               </div>
                           </td>
                            <td>
                                <div ng-if="data.type === 'file'">
                                    <div ng-repeat="(name,path) in data.new_data">
                                        <a href="/cabinet/download-file/{{path}}">{{name}}</a>
                                    </div>
                                </div>
                                <div ng-if="data.type !== 'file'">
                                                <span
                                                    ng-if="data.new_value_stringified">{{data.new_value_stringified}}</span>
                                    <span ng-if="!data.new_value_stringified">{{data.new_value}}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
