<div class="card">
    <div class="card-header">
        <h5 class="modal-title">Новая задача</h5>
    </div>

    <div class="card-body">

        <form ng-submit="$ctrl.submit()">

            <div class="form-group">
                <label>Название компании:</label>
                <input type="text" class="form-control" ng-model="$ctrl.companyName">
            </div>

            <div class="form-group">
                <label>Арендатор:</label>
                <select class="form-control" ng-model="$ctrl.userId">
                    <option ng-repeat="user in $ctrl.users" ng-value="{{user.id}}">{{user.full_name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Тел.номер арендатора:</label>
                <input type="text" class="form-control" ng-model="$ctrl.phone" required>
            </div>

            <div class="form-group">
                <label>Количество мест:</label>
                <input type="number" class="form-control" ng-model="$ctrl.numberOfSeats" required>
            </div>

            <div class="form-group">
                <label>Дата начала:</label>
                <input type="date" class="form-control" ng-model="$ctrl.startDateTime">
            </div>

            <div class="form-group">
                <label>Дата окончания:</label>
                <input type="date" class="form-control" ng-model="$ctrl.endDateTime">
            </div>

            <button type="submit" class="btn btn-primary d-flex ml-auto">Создать</button>
        </form>
    </div>
    <div class="card-footer">


    </div>
</div>
