<div class="modal-header">
    <h5 class="modal-title">Register modal</h5>
    <button type="button" class="close" ng-click="$ctrl.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form ng-submit="$ctrl.toStep(2)" ng-show="$ctrl.step == 1">

        <div class="form-group">
            <label>Фамилия:</label>
            <input type="text" class="form-control" ng-model="$ctrl.lastName" required>
        </div>

        <div class="form-group">
            <label>Имя:</label>
            <input type="text" class="form-control" ng-model="$ctrl.firstName" required>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" ng-model="$ctrl.email" required>
        </div>

        <button type="submit" class="btn btn-primary">Далее</button>

    </form>

    <form ng-submit="$ctrl.toStep(3)" ng-show="$ctrl.step == 2">

        <div class="form-group">
            <label>Аватар:</label>
            <div class="d-flex px-0 justify-content-center ">

                <img ng-show="!$ctrl.avatar"
                     style="vertical-align: middle; width:150px;height: 150px; border-radius: 50%"
                     alt="user avatar"
                     src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"/>

                <img ng-show="$ctrl.avatar" ngf-thumbnail="$ctrl.avatar"
                     style="vertical-align: middle; width:150px;height: 150px; border-radius: 50%" alt="user avatar"/>
            </div>

            <a class="btn btn-light mt-1 d-flex justify-content-center"
               ngf-select=""
               ngf-model-invalid="$ctrl.invalidAvatar"
               ng-model="$ctrl.avatar"
               accept="image/*"
               ngf-max-size="10MB">

                <span ng-show="!$ctrl.avatar">Выбрать аватар</span>
                <span ng-show="$ctrl.avatar">Изменить аватар</span>
            </a>
        </div>
        <button type="button" ng-click="$ctrl.toStep(1)" class="btn btn-secondary">Назад</button>
        <button type="submit" class="btn btn-primary">Пропустить</button>
    </form>

    <form ng-submit="$ctrl.register()" ng-show="$ctrl.step == 3">

        <div class="form-group">
            <label>Пароль:</label>
            <input type="password" class="form-control" ng-model="$ctrl.password">
        </div>

        <div class="form-group">
            <label>Повторите пароль:</label>
            <input type="password" class="form-control" ng-model="$ctrl.passwordConfirmation">
        </div>
        <button type="button" ng-click="$ctrl.toStep(2)" class="btn btn-secondary">Назад</button>
        <button type="submit" class="btn btn-primary">Далее</button>

    </form>
    <div ng-show="$ctrl.step == 4">

        <h4>Поздравляем, вы успешно зарегистрированы!</h4>

        <p class="d-flex justify-content-center">Анкета проекта</p>

        <div class="alert alert-info">
            <i class="fa fa-alert" style="font-size: 30px;"></i>
            Если вы хотите что бы о вашем проекте знали наши пользователи,
            пожалуйста, заполните
            <a href="/cabinet/project">анкету проекта</a>
        </div>

        <button type="button" ng-click="$ctrl.toStep(5)" class="btn btn-primary offset-5">Продолжить</button>
    </div>

    <div ng-show="$ctrl.step == 5">
        <p>Анкета инвестора</p>

        <div class="alert alert-info">
            <i class="fa fa-alert" style="font-size: 30px;"></i>
            Если вы хотите найти проекты для инвестиции, пожалуйста, заполните
            <a href="/cabinet/investor-profile">анкету инвестора</a>
        </div>

        <button type="button" ng-click="$ctrl.toStep(6)" class="btn btn-primary offset-5">Продолжить</button>
    </div>

    <div ng-show="$ctrl.step == 6">
        <h2 class="text-center">
            Спасибо!
        </h2>

        <button type="button" ng-click="$ctrl.dismiss()" class="btn btn-primary offset-5">Завершить</button>
    </div>

</div>

<!--<div class="modal-footer">-->
<!--    <button type="button" class="btn btn-secondary" ng-click="$ctrl.dismiss()">Close</button>-->
<!--    <button type="button" class="btn btn-primary" ng-click="$ctrl.saves()">Save changes</button>-->
<!--</div>-->
