<form class="mb-3" ng-submit="$ctrl.filter()">
  <div class="form d-flex align-items-center">
    <input type="text"
           class="form-control w-50 mr-2"
           placeholder="Введите ФИО, email или телефон"
           ng-model="$ctrl.search">
    <select ng-model="$ctrl.status" class="form-control w-25 mr-2">
      <option value="all">Все</option>
      <option value="active">Активный</option>
      <option value="inactive">Неактивный</option>
    </select>
    <button type="submit" class="btn btn-primary btn-sm mr-2">Поиск</button>
    <button type="button" class="btn btn-secondary btn-sm mr-2" ng-click="$ctrl.reset()">Сбросить</button>
  </div>
</form>
<div class="mb-3">
  <div class="d-inline mr-2">Всего: <b>{{$ctrl.total}}</b>.</div>
  <div class="d-inline">
    Показывать по:
    <select class="form-control d-inline-block w-auto"
            ng-model="$ctrl.perPage"
            ng-change="$ctrl.pageChanged()">
      <option ng-value="15">15</option>
      <option ng-value="30">30</option>
      <option ng-value="50">50</option>
      <option ng-value="100">100</option>
    </select>
  </div>
</div>

  <table class="table table-bordered table-striped table-sm">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>ФИО</th>
      <th>Email</th>
      <th>Телефон</th>
      <th>Последний вход</th>
      <th>Статус</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in $ctrl.users track by $index">
      <td>{{ user.id }}</td>
      <td>{{ user.full_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.last_login | date:'dd.MM.yyyy' }}</td>
      <td>{{ user.status }}</td>
      <td class="text-center">
        <button ng-click="$ctrl.changeActive(user.id)" class="bt btn-xs"
                ng-class="user.is_active ? 'btn-danger' : 'btn-success'">
          <i class="fas fa-lock-open" ng-show="!user.is_active"></i>
          <i class="fas fa-lock" ng-show="user.is_active"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <ul uib-pagination
      template-url="b4-pagination"
      total-items="$ctrl.total"
      ng-model="$ctrl.page"
      max-size="10"
      items-per-page="$ctrl.perPage"
      ng-change="$ctrl.getList()"></ul>