<div class="mb-3">
    <a href="/control-panel/forms/create" class="btn btn-sm btn-primary">Добавить форму</a>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Анкета пользователя</h5>
            </div>
            <div class="card-body">
                <div class="card-text mb-3">Форма для заполнения пользлователем информации о себе</div>
                <ul class="list-group">
                    <li class="list-group-item">Программа: Акселератор стартапов</li>
                    <li class="list-group-item">Корпоративная информация</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-edit"></i> Изменить
                </a>
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-copy"></i> Скопировать
                </a>
                <a href="" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Анкета пользователя</h5>
            </div>
            <div class="card-body">
                <div class="card-text mb-3">Форма для заполнения пользлователем информации о себе</div>
                <ul class="list-group">
                    <li class="list-group-item">Программа: Акселератор стартапов</li>
                    <li class="list-group-item">Корпоративная информация</li>
                    <li class="list-group-item">Корпоративная информация</li>
                    <li class="list-group-item">Корпоративная информация</li>
                    <li class="list-group-item">Корпоративная информация</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-edit"></i> Изменить
                </a>
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-copy"></i> Скопировать
                </a>
                <a href="" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Анкета пользователя</h5>
            </div>
            <div class="card-body">
                <div class="card-text mb-3">Форма для заполнения пользлователем информации о себе</div>
                <ul class="list-group">
                    <li class="list-group-item">Программа: Акселератор стартапов</li>
                    <li class="list-group-item">Корпоративная информация</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-edit"></i> Изменить
                </a>
                <a href="" class="btn btn-primary btn-sm">
                    <i class="fa fa-copy"></i> Скопировать
                </a>
                <a href="" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            </div>
        </div>
    </div>
</div>
