<form class="mb-3" ng-submit="$ctrl.filter()">

  <div class="form-row">

    <div class="col-3">
      <input type="text"
             class="form-control"
             placeholder="Название"
             ng-model="$ctrl.title">
    </div>

    <div class="col-3">
      <select ng-model="$ctrl.category"
              ng-options="c as c.title for c in $ctrl.categories"
              class="form-control">
        <option value="">Выберите категорию</option>
      </select>
    </div>

    <div class="col-3">
      <select ng-model="$ctrl.status" class="form-control">
        <option value="">Выберите статус</option>
        <option value="draft">Черновик</option>
        <option value="published">Опубликован</option>
      </select>
    </div>

    <div class="col-auto">

      <button type="submit" class="btn btn-primary">Поиск</button>

      <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>

    </div>

  </div>

</form>

<div class="mb-3 clearfix">
  <div class="float-left">
    Всего: <b>{{ $ctrl.total }}</b> {{ $ctrl.total | plural : ['программа', 'программы', 'программ'] }}
  </div>
  <a href="" ng-click="$ctrl.openCreateModal()" class="btn btn-primary float-right">
    Добавить программу
  </a>
</div>

<table class="table table-sm bg-white">
  <thead class="thead-light">
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>Категория</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="program in $ctrl.programs track by $index">
    <td>{{ program.id }}</td>
    <td>{{ program.title }}</td>
    <td>{{ program.category.title }}</td>
    <td ng-switch="program.status">
      <div ng-switch-when="draft" class="text-danger">Черновик</div>
      <div ng-switch-when="published" class="text-success">Опубликован</div>
    </td>
    <td class="text-center">
      <a href=""
         ng-href="/control-panel/programs/{{program.id}}/main"
         class="btn btn-primary btn-xs">
        <i class="fa fa-pen"></i>
      </a>
    </td>
  </tr>
</table>

<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    ng-change="$ctrl.getList()"
    items-per-page="10"
    template-url="b4-pagination">
</ul>