<form class="mb-3" ng-submit="$ctrl.filter()">

    <div class="form-row">

        <div class="col-3">
            <input type="text"
                   class="form-control"
                   placeholder="Название"
                   ng-model="$ctrl.title">
        </div>

        <div class="col-3">
            <select ng-model="$ctrl.status" class="form-control">
                <option value="">Выберите статус</option>
                <option value="draft">Не опубликован</option>
                <option value="published">Опубликован</option>
            </select>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.loading">Поиск</button>
            <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>
        </div>

    </div>

</form>

<div class="mb-3 clearfix">

    <div class="float-left">
        Всего: <b>{{ $ctrl.total }}</b> {{ $ctrl.total | plural : ['программа', 'программы', 'программ'] }}
    </div>

    <a href="" ng-click="$ctrl.openCreateModal()" class="btn btn-primary float-right">
        Добавить программу
    </a>

</div>

<table class="table bg-white" style="font-size: 14px">
    <thead class="thead-light">
    <tr>
        <th>№</th>
        <th>Название</th>
        <th style="max-width: 250px;">Краткое описание</th>
        <th>Прием заявок до</th>
        <th>Статус</th>
        <th>Добавил</th>
        <th>Опубликовано</th>
        <th></th>
    </tr>
    </thead>
    <tr ng-repeat="program in $ctrl.programs track by $index">
        <td>{{ program.id }}</td>
        <td>{{ program.title }}</td>
        <td style="max-width: 250px;">{{ program.short_description | truncate : 100 : '...' }}</td>
        <td>{{ program.limit_date | amDateFormat : 'DD.MM.YYYY'}}</td>
        <td ng-switch="program.status">
            <div ng-switch-when="draft" class="text-danger">Не опубликован</div>
            <div ng-switch-when="published" class="text-success">Опубликован</div>
        </td>
        <td>
            <div>{{program.user.full_name}}</div>
            <div>{{program.created_at | amDateFormat : 'DD.MM.YYYY HH:mm'}}</div>
        </td>
        <td>
            {{program.published_at | amDateFormat : 'DD.MM.YYYY HH:mm'}}
        </td>
        <td class="text-center">
            <a href=""
               ng-href="/control-panel/programs/{{program.id}}/main"
               class="btn btn-primary btn-xs">
                <i class="fa fa-pen"></i>
            </a>
        </td>
    </tr>
</table>

<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    ng-change="$ctrl.getList()"
    items-per-page="10"
    template-url="b4-pagination">
</ul>