<div class="tabs__content">

    <div class="tabs__inner__section resources">

        <h4 class="resources__heading">Семинары и мастер-классы Astana Hub</h4>

        <div class="resources__list">

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay-2.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay-3.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

            <div class="resources__item video-box">

                <div class="video-box__player">

                    <iframe width="304" height="186"
                            class="video-box__video"
                            src="https://www.youtube.com/embed/y0-mD3iEE48?start=61" frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <div class="video-box__overlay">

                        <img src="/img/video-overlay.png" alt="" class="video-box__img">

                        <svg class="video-box__icon" width="40" height="40">
                            <use href="/img/icons.svg#play-icon-red"></use>
                        </svg>

                        <div class="video-box__time">51:15</div>
                    </div>

                </div>

                <div class="video-box__name">Лончпад «Как выстроить план устойчивого
                    самообразования»...
                </div>

            </div>

        </div>
    </div>
</div>