<div class="tabs__content">

    <div class="tabs-inner__section about-rd">

        <div class="about-rd__heading">
            Открытие R&D центров и <br>
            лабораторий в Astana Hub
        </div>

        <div class="about-rd__text">
            Программа направленная на создание <br>
            критической массы талантов на платформе <br>
            Astana Hub
        </div>

        <div class="about-rd__grey-text">R&D</div>

    </div>

    <div class="tabs-inner__section advantages">
        <h6 class="advantages__title">Открытия R&D центров и лабораторий</h6>
        <h4 class="advantages__heading">Ценность и преимущества</h4>

        <div class="advantages__list">
            <div class="advantages__item">
                Рабочее место
            </div>

            <div class="advantages__item">
                Доступ к государственным органам
            </div>

            <div class="advantages__item">
                Удобная локация
            </div>

            <div class="advantages__item">
                Доступ к стартапам <br>
                (организация встреч)
            </div>

            <div class="advantages__item">
                Налоговые льготы
            </div>

            <div class="advantages__item">
                PR в сетях Astana hub
            </div>

            <div class="advantages__item">
                Доступ к кадровым ресурсам <br>
                университетов
            </div>

            <div class="advantages__item">
                Узнаваемость бренда
            </div>

        </div>
    </div>

    <div class="tabs-inner__section tariff-cards">

        <h6 class="tariff-cards__title">*Цена кв.м за месяц аренды с учетом НДС</h6>
        <h4 class="tariff-cards__heading">Тарифные планы на аренду офисных помещений</h4>

        <div class="tariff-cards__list">
            <div class="tariff-cards__item tariff-card">

                <div class="tariff-card__grey-text">S</div>

                <div class="tariff-card__title">S Plan</div>

                <div class="tariff-card__heading">
                    Обязательства компании:
                </div>

                <div class="tariff-card__list">

                    <div class="tariff-card__item">
                        Проведение ежемесячных
                        мероприятий
                    </div>

                    <div class="tariff-card__item">
                        Предоставление оборудования
                        и ПО стартап проектам
                    </div>

                    <div class="tariff-card__item">
                        Оказание консультаций по
                        запросу
                    </div>

                    <div class="tariff-card__item">
                        Стажировка студентов
                    </div>

                </div>

                <div class="tariff-card__bottom">
                    <div class="tariff-card__price">₸ 7 499 / кв.м.</div>

                    <button class="tariff-card__button button button--w100">Подать заявку</button>
                </div>

            </div>

            <div class="tariff-cards__item tariff-card">

                <div class="tariff-card__grey-text">M</div>

                <div class="tariff-card__title">M Plan</div>

                <div class="tariff-card__heading">
                    Обязательства компании:
                </div>

                <div class="tariff-card__list">

                    <div class="tariff-card__item">
                        Предоставление оборудования
                        и ПО стартап проектам
                    </div>

                    <div class="tariff-card__item">
                        Оказание консультаций по
                        запросу
                    </div>

                    <div class="tariff-card__item">
                        Стажировка студентов
                    </div>

                </div>

                <div class="tariff-card__bottom">
                    <div class="tariff-card__price">₸ 9 999 / кв.м.</div>

                    <button class="tariff-card__button button button--w100">Подать заявку</button>
                </div>
            </div>

            <div class="tariff-cards__item tariff-card">

                <div class="tariff-card__grey-text">L</div>

                <div class="tariff-card__title">L Plan</div>

                <div class="tariff-card__heading">
                    Обязательства компании:
                </div>

                <div class="tariff-card__list">

                    <div class="tariff-card__item">
                        Оказание консультаций по
                        запросу
                    </div>

                    <div class="tariff-card__item">
                        Стажировка студентов
                    </div>

                </div>

                <div class="tariff-card__bottom">
                    <div class="tariff-card__price">₸ 12 999 / кв.м.</div>

                    <button class="tariff-card__button button button--w100">Подать заявку</button>
                </div>

            </div>

        </div>

    </div>

    <div class="tabs-inner__section guide-section">

        <h4 class="guide-section__title">Как получить бесплатный офис?</h4>
        <p class="guide-section__subtitle">
            Чтобы получить офис бесплатно вашей компании <br>
            необходимо иметь проект по следующим направлениям:
        </p>

        <div class="guide-section__list">

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#artificial-intelligence"></use>
                </svg>
                Искусственный интеллект
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#online-education"></use>
                </svg>
                EdTech
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#controls"></use>
                </svg>
                Индустрия 4.0
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#chip"></use>
                </svg>
                Blockchain
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#joystick"></use>
                </svg>
                Game Dev
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#artificial-intelligence"></use>
                </svg>
                Agritech
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#satellite"></use>
                </svg>
                Space Tech
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#artificial-intelligence"></use>
                </svg>
                Mobility
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#person-skill"></use>
                </svg>
                Softskills
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#smartphone"></use>
                </svg>
                Fintech
            </div>

            <div class="guide-section__item">
                <svg class="guide-section__icon" width="40" height="40">
                    <use href="/img/icons.svg#security"></use>
                </svg>
                Cyber
            </div>

        </div>
    </div>

</div>
