<div class="alert alert-default-warning" ng-show="$ctrl.program.status == 'draft'">
    Данная программа еще не опубликована.
    <button type="button" class="btn btn-primary btn-sm ml-2" ng-click="$ctrl.openToPublishModal()">Опубликовать</button>
</div>

<div class="card card-primary card-outline card-outline-tabs">
  <div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/main">Основная информация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/page">Страница</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/forms">Анкета</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/members">Участники</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <div id="gjsProgramPassport" class="mb-2"></div>

    <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">
      Сохранить
    </button>

  </div>
</div>
