<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/main">Основная информация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/page">Страница</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/forms">Формы</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div id="gjsProgramPassport">
    </div>

    <iframe allowfullscreen="allowfullscreen" id="passportResult" style="width: 100%; height: 100vh; ">
    </iframe>
  </div>
    <div class="card-footer d-flex">
        <button class="btn btn-primary mr-auto" type="button" ng-click="$ctrl.save()">
            Сохранить
        </button>
    </div>
</div>
