<div class="content__row">

    <div class="content__left">

        <news-list news="$ctrl.news" news-count="$ctrl.newsCount"></news-list>

        <feeds-list feeds="$ctrl.feeds" feeds-count="$ctrl.feedsCount"></feeds-list>

    </div>

    <div class="content__right">

        <div class="content__right-block additional-info">

            <div class="additional-info__title">
                {{ 'Information for' | translate }}:
            </div>

            <div class="additional-info__list">

                <a href="#" class="additional-info__item">
                    <div class="additional-info__text">Стартапов</div>
                    <svg class="additional-info__icon" width="24" height="24">
                        <use href="/img/icons.svg#right-red"></use>
                    </svg>
                </a>

                <a href="#" class="additional-info__item">
                    <div class="additional-info__text">Инвесторов</div>
                    <svg class="additional-info__icon" width="24" height="24">
                        <use href="/img/icons.svg#right-red"></use>
                    </svg>
                </a>

                <a href="#" class="additional-info__item">
                    <div class="additional-info__text">Корпораций</div>
                    <svg class="additional-info__icon" width="24" height="24">
                        <use href="/img/icons.svg#right-red"></use>
                    </svg>
                </a>
            </div>

        </div>

        <div class="content__right-block advertising-banner">
            <a href="#" class="advertising-banner__item">
                <img src="/img/advertising-img.png" alt="">
            </a>
        </div>
    </div>

</div>





