<div class="content__feed-list feed">

    <div class="feed__heading">

        <div class="feed__drop-box" uib-dropdown>

            <button class="feed__btn button button--sm button--dropdown" uib-dropdown-toggle="">
                <span>Новая запись</span>
                <svg width="24" height="24">
                    <use href="/img/icons.svg#toggle-white"></use>
                </svg>
            </button>

            <div class="feed__btn-dropdown" uib-dropdown-menu="">
                <a href="#" class="feed__dropdown-item">Блог</a>
                <a href="#" class="feed__dropdown-item">Мероприятие</a>
                <a href="#" class="feed__dropdown-item">Еще что то</a>
            </div>

        </div>

    </div>

    <div class="feed__list">

        <div class="feed__event-announcement event-announcement">
            <svg class="event-announcement__icon" width="60" height="60">
                <use href="/img/icons.svg#announcement"></use>
            </svg>

            <div class="event-announcement__text">
                Astana hub объявил о новой программе
            </div>
        </div>

        <div ng-repeat="feed in $ctrl.feeds track by $index">

            <div ng-if="feed.entity_model == 'App\\Post'" class="feed__blog blog-box">

                <div class="blog-box__details">
                    <div class="blog-box__detail">
                        <svg width="18" height="18" class="blog-box__detail-icon">
                            <use xlink:href="/img/icons.svg#chat"></use>
                        </svg>
                        43
                    </div>

                    <div class="blog-box__detail">
                        <svg width="20" height="14" class="blog-box__detail-icon">
                            <use xlink:href="/img/icons.svg#eye"></use>
                        </svg>
                        405
                    </div>
                </div>

                <img src="/img/blog-img.png" alt="" class="blog-box__img">

                <div class="blog-box__info">

                    <div class="blog-box__date">
                        <svg width="16" height="18" class="blog-box__date-icon">
                            <use xlink:href="/img/icons.svg#calendar-grey"></use>
                        </svg>
                        23.10.2020
                    </div>

                    <div class="blog-box__tag">
                        <img src="/img/icons/astana-hub-icon-xs.png" alt="" class="blog-box__tag-icon">
                        Astana Hub
                    </div>

                    <a href="#" class="blog-box__title">TrandyGo: Handmade как источник заработка</a>

                    <div class="blog-box__desc">
                        Сейчас в Казахстане спрос на авторские аксессуары растет с каждым годом, а с развитием
                        онлайн-площадок хендмейд-продукция имеет все тенденции к росту.
                    </div>
                </div>

            </div>

            <!--
                <div class="feed__blog blog-box blog-box--non-image">

                <div class="blog-box__info">

                    <div class="blog-box__details">
                        <div class="blog-box__detail">
                            <svg width="18" height="18" class="blog-box__detail-icon">
                                <use xlink:href="/img/icons.svg#chat"></use>
                            </svg>
                            43
                        </div>

                        <div class="blog-box__detail">
                            <svg width="20" height="14" class="blog-box__detail-icon">
                                <use xlink:href="/img/icons.svg#eye"></use>
                            </svg>
                            405
                        </div>
                    </div>

                    <div class="blog-box__date">
                        <svg width="16" height="18" class="blog-box__date-icon">
                            <use xlink:href="/img/icons.svg#calendar-grey"></use>
                        </svg>
                        23.10.2020
                    </div>

                    <div class="blog-box__tag">
                        <img src="/img/icons/astana-hub-icon-xs.png" alt="" class="blog-box__tag-icon">
                        Astana Hub
                    </div>

                    <a href="#" class="blog-box__title">Стартапы Astana Hub привлекли по 50 тысяч долларов
                        инвестиций от QazTech Ventures и Quest Ventures</a>

                    <div class="blog-box__desc">
                        Okoo, Qlang, Egistic, ApartX, Smart Gas, 1Fit, Aero, Retail Analytica прошли в первый поток
                        международной акселерационной программы Kazakhstan Digital Accelerator.
                    </div>
                </div>

            </div>
            -->

            <div ng-if="feed.entity_model == 'App\\Event'" class="feed__event event-box">

                <img src="/img/event-speaker-poster.png" alt="" class="event-box__img">

                <img src="/img/astana-hub-tag.png" alt="" class="event-box__tag">

                <div class="event-box__info">

                    <div class="event-box__date">{{feed.entity.start_date | amDateFormat : 'D MMM HH:mm'}}</div>

                    <div class="event-box__title">Speaker Night</div>

                    <div class="event-box__subtitle">{{feed.entity.name}}</div>

                    <button class="event-box__button button button--lg"
                            ng-click="$ctrl.signUpForEvent(feed.entity)">
                        Записаться
                    </button>

                </div>

            </div>

        </div>



    </div>

</div>
