<div class="tabs-inner__section notifications-section">

    <div class="notifications-section__list">

        <a href="#" class="notifications-section__item notifications-section__item--notify">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>

        <a href="#" class="notifications-section__item">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>

        <a href="#" class="notifications-section__item">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>

        <a href="#" class="notifications-section__item">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>

        <a href="#" class="notifications-section__item">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>

        <a href="#" class="notifications-section__item">
            <div class="notifications-section__title">
                Astana hub
            </div>

            <div class="notifications-section__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>

            <div class="notifications-section__date">
                23 Окт.
            </div>
        </a>
    </div>
</div>
