<div class="tabs__content">

    <div class="tabs-inner__section about-hub-space">

        <div class="about-hub-space__title">
            Корпоративный бизнес-инкубатор направленный на развитие IT-проектов
        </div>

        <div class="about-hub-space__grey-text">HUB <br>
            SPACE
        </div>

        <div class="about-hub-space__row">
            <p class="about-hub-space__text">
                Hub Space - это коворкинг с идеальной инфраструктурой для развития вашего стартапа.
                Пространство вмещает до 200 участников.
            </p>

            <img src="/img/hub-space-1.png" alt="" class="about-hub-space__img">
        </div>

        <div class="about-hub-space__row">
            <img src="/img/hub-space-2.png" alt="" class="about-hub-space__img">

            <p class="about-hub-space__text">
                Здесь, в окружении единомышленников и профессиональных экспертов отрасли вы быстрее
                выведете свой бизнес на новый уровень
            </p>
        </div>
    </div>

    <div class="tabs-inner__section advantages">
        <h6 class="advantages__title">Hub Space</h6>
        <h4 class="advantages__heading">Ценность и преимущества</h4>

        <div class="advantages__list">
            <div class="advantages__item">
                Современный офис
            </div>

            <div class="advantages__item">
                Развитие бизнеса
            </div>

            <div class="advantages__item">
                Удобная локация
            </div>

            <div class="advantages__item">
                Продажа продукта
            </div>

            <div class="advantages__item">
                Финансовая и <br>
                юридическая поддержка
            </div>

            <div class="advantages__item">
                PR в сетях Astana hub
            </div>

            <div class="advantages__item">
                Доступ к ресурсам HeadHunter
            </div>

            <div class="advantages__item">
                Консультация по мерам <br>
                государственной поддержки
            </div>

            <div class="advantages__item">
                Ресурсы лабораторий
            </div>

            <div class="advantages__item">
                Индивидуальный план развития <br>
                проекта
            </div>

        </div>

    </div>

    <div class="tabs-inner__section tariff-section">
        <h6 class="tariff-section__title">Для стартап-проектов не запустивших продажи своих <br>решений
            первый месяц бесплатно</h6>

        <h4 class="tariff-section__heading">Стоимость одного пакета услуг на 1 человека на 1 месяц</h4>

        <div class="tariff-section__row">
            <div class="tariff-section__item">
                <div class="tariff-section__price">70 000 ₸</div>
                <div class="tariff-section__text">
                    Для остальных желающих <br>
                    (резиденты РК)
                </div>
            </div>

            <div class="tariff-section__item">
                <div class="tariff-section__price">35 000 ₸</div>
                <div class="tariff-section__text">
                    Участникам программы <br>
                    акселерации либо участникам <br>
                    Астана хаб (резиденты РК)
                </div>
            </div>
        </div>

        <button class="tariff-section__button button button--lg">Забронировать</button>
    </div>

</div>