.about-hub-space {
    padding: 40px 109px;
    background-color: #ffffff;
    border-radius: 7px;
    position: relative;

    &__title {
        @include text-style(1.8rem, 700, #181515);
        line-height: 22px;
        text-align: center;
        width: 343px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__info {
        width: 343px;
    }

    &__name {
        @include text-style(1.8rem, 600, #181515);
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__text {
        @include text-style(1.6rem, 400, #181515);
        width: 343px;
        line-height: 19.5px;
    }

    &__img {
        width: 326px;
        height: 232px;
        border-radius: 7px;
    }

    &__grey-text {
        @include text-style(9.6rem, 700, #f3f3f3);
        line-height: 117px;
        position: absolute;
        top: 156px;
        left: 20px;
    }
}
