.additional-info {

    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;

    &__title {
        @include text-style(1.8rem, 700, #181515);
        margin-bottom: 28px;
    }

    &__list {

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        border-top: 1px solid #E8E8E8;
        border-bottom: 1px solid #E8E8E8;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    &__text {
        @include text-style(1.6rem, 500, $elem-color);
    }


}
