.advantages {
    $e: &;

    padding: 40px 130px;
    background-color: #ffffff;
    border-radius: 7px;

    &__title {
        @include text-style(1.4rem, 400, #181515);
        line-height: 17px;
        text-align: center;
        margin-bottom: 10px;
    }

    &__heading {
        @include text-style(2rem, 700, #181515);
        text-align: center;
        line-height: 24px;
        margin-bottom: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        grid-gap: 15px;

        &--black-line {
            #{$e}__item {
                &:before {
                    background-color: #181515;
                }
            }
        }
    }

    &__item {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
        padding-left: 25px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            height: 1px;
            width: 15px;
            background-color: $elem-color;
        }
    }
}
