.button {
    padding: 12px 20px;
    @include text-style(1.6rem, 500, #ffffff);

    border-radius: 7px;
    background-color: $elem-color;

    &:focus {
        outline: none !important;
    }

    &[disabled] {
        background-color: #c4c4c4;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--sm {
        padding: 12px 15px;
    }

    &--lg {
        padding: 12px 45px;
    }

    &--extra-lg {
        padding: 12px 84px;
    }

    &--white {
        background-color: #ffffff;
        @include text-style(1.6rem, 500, #181515);
        padding: 10px 20px;
    }

    &--grey {
        background-color: #FAFAFA;
        color: $elem-color;
    }

    &--w100 {
        width: 100%;
    }

    &--dropdown {
        display: flex;
        align-items: center;

        span {
            border-right: 1px solid rgba(#ffffff, .2);
            padding-right: 7px;
        }

        svg {
            margin-left: 7px;
        }
    }
}

.button-w-icon {
    padding: 13px 16px;
    border-radius: 7px;
    @include text-style(1.8rem, 400, #ffffff);

    background-color: #dc4e41;

    display: flex;
    align-items: center;

    &:focus {
        outline: none !important;
    }

    &[disabled] {
        background-color: #c4c4c4;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--blue {
        background-color: #3B5998;
    }

    svg {
        margin-left: 15px;
    }
}

.button-back {

    $e: &;

    padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 7px;

    display: flex;
    align-items: center;

    @include text-style(1.6rem, 500, $elem-color);

    &--icon-right {
        #{$e}__icon {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    &:focus {
        outline: none !important;
    }

    &__icon {
        margin-right: 10px;
        flex-shrink: 0;
    }

    &--grey {
        font-size: 1.4rem;
        background-color: #FAFAFA;
        color: #181515;
    }

    &--white {
        background-color: #ffffff;
        color: #181515;
    }

    &--rotate {
        #{$e}__icon {
            transform: rotate(180deg);
        }
    }
}
