.chat-section {

    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    width: 468px;

    &__messages {
        height: 475px;
        overflow: auto;
        margin-bottom: 40px;
    }

    &__block {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__message-area {
        position: relative;
        margin-bottom: 24px;
    }

    &__message-input {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
        resize: none;
        background-color: #ffffff;
        border-radius: 7px;
        border: 1px solid #181515;
        height: 130px;
        width: 100%;
        padding: 20px;
        overflow: hidden;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__append-file {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fafafa;
        border-radius: 7px;
    }

    &__btn {

    }
}
