.swiper-container {
    overflow: unset;
}

.swiper-button-next, .swiper-button-prev {
    top: -42px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    right: 50px;
    left: unset;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    background-color: #E8E8E8;
}
