.custom-radio-box {
    $e: &;

    display: flex;
    align-items: center;
    @include text-style(1.6rem, 400, #181515);

    &__radio {
        display: none;
    }

    &__checkmark {
        width: 24px;
        height: 24px;
        background-color: #f6f6f6;
        border-radius: 7px;
        margin-right: 10px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("/img/icons/checkmark-black.svg");
            width: 20px;
            height: 20px;
            display: none;
        }
    }

    &__radio:checked ~ &__checkmark {
        &:after {
            display: block;
        }
    }
}
