.event-card {

    width: 304px;
    height: 344px;
    padding: 20px 24px 20px 20px;
    background-color: #ffffff;
    border-radius: 7px;
    overflow: hidden;
    position: relative;

    &__date {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
        margin-bottom: 10px;
        position: relative;
        z-index: 5;
    }

    &__title {
        @include text-style(1.8rem, 700, #181515);
        line-height: 22px;
        margin-bottom: 15px;
        position: relative;
        z-index: 5;
    }

    &__subtitle {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
        position: relative;
        z-index: 5;
    }

    &__img-box {
        width: 264px;
        height: 264px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        bottom: -80px;
        right: -40px;
        z-index: 1;
    }

    &__img {
        width: 264px;
        height: 264px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        left: -5px;
    }

    &__tag {
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 2;
    }

    &__btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $elem-color;
    }
}
