.faq {

    &__list {
        background-color: #ffffff;
        overflow: hidden;
        border-radius: 7px;
        padding: 23px 40px;
    }

    &__item {
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 36px;
        }
    }

    &__title {
        @include text-style(1.8rem, 600, #181515);
    }

    &__close-icon {
        position: absolute;
        top: 0;
        right: 0;
        //transform: translateY(-50%);
        transition: all .3s;

        &--active {
            transform: rotate(45deg);
        }
    }

    &__text {
        padding: 13px 30px 0 0;
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
    }

    &__link:link,
    &__link:visited {
        @include text-style(1.6rem, 400, $elem-color);
        text-decoration: underline;
    }
}
