.feature-card {

    width: 252px;
    height: 303px;
    background-color: #ffffff;
    border-radius: 7px;
    text-align: center;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;

    &__title {
        @include text-style(1.8rem, 700, #181515);
        line-height: 21.94px;

        img {
            width: 20px;
            margin-left: 5px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    &__section {

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &--border {
            padding-bottom: 20px;
            border-bottom: 1px solid #E8E8E8;
        }
    }

    &__heading {
        @include text-style(3.6rem, 700, #181515);
        line-height: 43.88px;
        margin-bottom: 5px;
    }

    &__desc {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
    }
}
