.input-box {

    $e: &;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--span2 {
        grid-row: span 2;
    }

    &--error {
        #{$e}__label {
            color: $elem-color;
        }

        #{$e}__input {
            color: $elem-color;
            margin-bottom: 5px;
        }
    }

    &__label {
        display: block;
        @include text-style(1.3rem, 400, #181515);
        line-height: 16px;
        margin-bottom: 5px;
    }

    &__input {
        width: 100%;
        height: 46px;
        background-color: #f7f7f7;
        border-radius: 7px;

        @include text-style(1.6rem, 400, #181515);
        padding: 0 50px 0 20px;

        -webkit-appearance: none;
    }

    &__textarea {
        width: 100%;
        height: 153px;
        background-color: #f7f7f7;
        border-radius: 7px;

        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
        padding: 13px 20px;

        resize: none;
    }

    &__select-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    &__radio-group {
        display: flex;
        margin-bottom: 7px;
    }

    &__radio-box {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__pass-eye {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &__error-text {
        @include text-style(1.2rem, 400, $elem-color);
        line-height: 14.6px;
    }

    &__container {
        position: relative;
    }

    &__edit {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}
