.lang-dropdown {

    width: 134px !important;
    background-color: #ffffff !important;
    border-radius: 7px !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12) !important;
    border: none !important;
    padding: 5px 0 !important;
    z-index: 1000;
    list-style: none;

    display: none;

    &--show {
        display: block;
    }

    &__item {
        padding: 12px 30px;

        &:hover {
            background-color: #F3F3F3;
        }
    }

    &__link:link,
    &__link:visited {
        @include text-style(1.6rem, 500, #181515);
    }

    &__link:hover {
        text-decoration: none;
    }
}
