.main {
    padding: 120px 0 100px 0;
    background-color: #fafafa;

    display: flex;

    &__container {
        @extend %container;
        margin-left: auto;
        margin-right: auto;
    }
}
