.news-box {

    width: 550px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__heading {
        @include text-style(1.8rem, 700, #181515);
    }

    &__list {
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        & > * {
            flex-shrink: 0;
        }
    }

    &__date {
        @include text-style(1.4rem, 500, #a3a1a1);
        margin-right: 20px;
    }

    &__text {
        @include text-style(1.6rem, 500, #181515);
        white-space: normal;
    }

}
