.partners {
    &__heading {
        @include text-style(2rem, 700, #181515);
        line-height: 24px;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 44px;
        }
    }
}
