.person-card {
    width: 304px;

    &__img {
        width: 304px;
        border-radius: 7px;
        margin-bottom: 20px;
    }

    &__name {
        @include text-style(1.8rem, 700, #181515);
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__desc {
        @include text-style(1.6rem, 400, #181515);
        line-height: 19.5px;
    }
}
