.tabs {

    &__links {
        width: 100%;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 10px 40px;

        margin-bottom: 40px;
    }

    &__link {
        background-color: transparent;
        @include text-style(1.6rem, 600, #181515);

        &:not(:last-child) {
            margin-right: 45px;
        }

        &--active {
            color: $elem-color;
            border-bottom: 2px solid $elem-color;
            padding-bottom: 7px;
        }
    }

}