.team {

    &__title {
        margin-bottom: 32px;
    }

    &__btn-group {
        display: flex;
        align-items: center;
    }

    &__btn {
        position: absolute;

        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background-color: $elem-color;

        &--left {
            transform: rotate(180deg);
        }

        &--grey {
            background-color: #E8E8E8;
        }
    }
}
