.timeline-section {
    &__container {
        @extend %container;
    }

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__timeline {
        margin: 0 230px;
    }
}
