.user-bar {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__img-box {
        background-color: #ffffff;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        margin-right: 7px;

        &--notify {
            &:after {
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                background-color: $elem-color;
                top: 0;
                right: 0;
            }
        }
    }

    &__initials {
        @include text-style(1.5rem, 500, $elem-color);
    }

    &__name {
        @include text-style(1.6rem, 500, #ffffff);
        line-height: 19.5px;
        margin-right: 14px;
    }

    &__toggle {

    }
}
