.welcome-section {

    border-radius: 7px;
    overflow: hidden;
    position: relative;

    &__poster {
        width: 960px;
        height: 240px;
    }

    &__title {
        position: absolute;
        bottom: 35px;
        left: 40px;

        @include text-style(3.6rem, 700, #ffffff);
    }
}