<div class="tabs__content tabs-inner">

    <div class="tabs-inner__section innovation-request">
        <img src="/img/innovation-request-bg.png" alt="" class="innovation-request__bg">
        <div class="innovation-request__title">Решение задач и внедрение инноваций для крупных
            компаний
        </div>
        <button class="innovation-request__button button button--lg" ng-click="$ctrl.openApplicationModalForTask()">
            Разместить задачу
        </button>
    </div>

    <div class="tabs-inner__section innovations">
        <h4 class="innovations__title">Цифровые челленджи корпоративного акселератора</h4>

        <div class="innovations__list">
            <div class="innovations__item innovation-box"
                 ng-repeat="task in $ctrl.tasks"
                 ng-class="{'innovation-box--closed' : task.status === 'closed'}">

                <img src="/img/digitalization-day.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        {{task.title}}
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        {{ task.deadline | amDateFormat : 'DD MMM' }}
                    </p>
                    <p class="innovation-box__text">
                        {{ task.company_name }}
                    </p>

                    <button class="innovation-box__button button button--w100">
                        Подробнее
                    </button>
                </div>

            </div>

        </div>
    </div>


</div>
