<div class="tabs__content tabs-inner">

    <div class="tabs-inner__section innovation-request">
        <img src="/img/innovation-request-bg.png" alt="" class="innovation-request__bg">
        <div class="innovation-request__title">Решение задач и внедрение инноваций для крупных
            компаний
        </div>
        <button class="innovation-request__button button button--lg">Разместить задачу</button>
    </div>

    <div class="tabs-inner__section innovations">
        <h4 class="innovations__title">Цифровые челленджи корпоративного акселератора</h4>

        <div class="innovations__list">
            <div class="innovations__item innovation-box">

                <img src="/img/digitalization-day.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        День Цифровизации
                        Карагандинской области
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        09 октября
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и Холдинг Zerde
                    </p>

                    <button class="innovation-box__button button button--w100">
                        Подробнее
                    </button>
                </div>

            </div>

            <div class="innovations__item innovation-box">

                <img src="/img/social-redbull.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        Социальный конкурс от RedBull для студентов
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        25 октября
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и RedBull
                    </p>

                    <button class="innovation-box__button button button--w100">
                        Подробнее
                    </button>
                </div>

            </div>

            <div class="innovations__item innovation-box">

                <img src="/img/moving-project.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        Конкурс на лучший проект «Moving» - сервис по...
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        10 сентября
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и BI Innovation
                    </p>

                    <button class="innovation-box__button button button--w100">
                        Подробнее
                    </button>
                </div>

            </div>

            <div class="innovations__item innovation-box innovation-box--closed">

                <img src="/img/digital-day.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        День Цифровизации
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        25 августа
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и Холдинг Зерде
                    </p>

                    <button class="innovation-box__button button button--w100" disabled>
                        Подробнее
                    </button>
                </div>

            </div>

            <div class="innovations__item innovation-box innovation-box--closed">

                <img src="/img/digital-day-of-ministry.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        День Цифровизации Министерства Индустрии..
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        15 августа
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и Холдинг Zerde
                    </p>

                    <button class="innovation-box__button button button--w100" disabled>
                        Подробнее
                    </button>
                </div>

            </div>

            <div class="innovations__item innovation-box innovation-box--closed">

                <img src="/img/digital-day-of-ecology.png" alt="" class="innovation-box__img">

                <div class="innovation-box__info">
                    <h4 class="innovation-box__title">
                        День Цифровизации Министерства экологии...
                    </h4>
                    <p class="innovation-box__text">
                        Срок подачи проектов: <br>
                        6 августа
                    </p>
                    <p class="innovation-box__text">
                        Astana Hub и Холдинг Zerde
                    </p>

                    <button class="innovation-box__button button button--w100" disabled>
                        Подробнее
                    </button>
                </div>

            </div>

        </div>
    </div>


</div>