<div class="tabs-inner__section-filter section-filter">

    <div class="section-filter__title">{{$ctrl.total}} {{$ctrl.total | plural : $ctrl.total : ['заявка', 'заявки', 'заявок']}} заявок</div>

    <div class="section-filter__btn-group">
        <button class="section-filter__btn button-back button-back--icon-right button-back--rotate button-back--white">
            Все
            <svg class="button-back__icon" width="18" height="18">
                <use href="/img/icons.svg#toggle-2"></use>
            </svg>
        </button>

        <div class="section-filter__btn-group button-back--rotate">
            <select class="input-box__input" ng-model="$ctrl.status" ng-change="$ctrl.getFilteredList()">
                <option value="">Все</option>
                <option value="process">На рассмотрении</option>
                <option value="opened">Открытые</option>
                <option value="closed">Закрытые</option>
            </select>

            <svg class="button-back__icon" width="18" height="18">
                <use href="/img/icons.svg#toggle-2"></use>
            </svg>
        </div>
    </div>

</div>

<div class="tabs-inner__section application-list">

    <div class="application-list__items">

        <a href=""
           class="application-list__item"
           ng-href="/cabinet/applications/{{app.id}}"
           ng-repeat="app in $ctrl.applications track by $index">

            <div ng-if="app.entity_model === 'App\\Program'" class="application-list__title">
                <span class="application-list__type">Программа:</span> {{app.entity.title}}
            </div>

            <div ng-if="app.entity_model !== 'App\\Program'" class="application-list__title">
                {{app.entity.name}}
            </div>

            <div ng-if="app.status ==='opened'" class="application-list__status application-list__status--success">
                Открыта
            </div>

            <div ng-if="app.status ==='process'" class="application-list__status">
                <span>На рассмотрении</span>
            </div>

            <div ng-if="app.status ==='closed'" class="application-list__status application-list__status--danger">
                Закрыта
            </div>

            <div class="application-list__date">
                {{app.created_at | amDateFormat: 'DD MMMM'}}
            </div>

        </a>

    </div>

</div>

<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    direction-links="false"
    ng-change="$ctrl.getList()"
    items-per-page="5"
    template-url="b4-pagination">
</ul>
