<table class="table table-bordered table-striped">
    <thead class="thead-light">
    <tr>
        <th>№</th>
        <th>Тип</th>
        <th>Название</th>
        <th>Статус</th>
        <th>Дата</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="app in $ctrl.applications track by $index">
        <td>{{app.id}}</td>
        <td>{{app.entity_model}}</td>
        <td ng-switch="app.entity_model">
            <div ng-switch-when="App\Program">{{app.entity.title}}</div>
            <div ng-switch-when="App\Module">{{app.entity.name}}</div>
        </td>
        <td>{{app.status}}</td>
        <td>{{app.created_at | amDateFormat : 'DD.MM HH:mm'}}</td>
        <td class="text-center">
            <a href="" ng-href="/cabinet/applications/{{app.id}}">открыть</a>
        </td>
    </tr>
    </tbody>
</table>