<a href="" class="startup-modal__close" ng-click="$ctrl.dismiss()">
    <svg width="28" height="28">
        <use href="/img/icons.svg#close-icon"></use>
    </svg>
</a>

<form class="startup-form" ng-submit="$ctrl.submit()">

    <div class="startup-form__title">Анкета стартапа</div>

    <div class="startup-form__row">

        <div class="startup-form__col">

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Название проекта:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.projectName"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Краткое описание:
                    <span class="input-box__required">*</span>
                </label>

                <textarea type="text" class="input-box__textarea" ng-model="$ctrl.description" required></textarea>

            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Ссылка на сайт:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.link"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">
                <label class="input-box__label">Логотип:</label>

                <div style="font-size: 13px; margin-bottom: 5px" ng-show="$ctrl.logotype">{{$ctrl.logotype.name}}</div>

                <div>
                    <button class="button button--xs"
                            type="button"
                            ngf-select=""
                            ng-model="$ctrl.logotype"
                            ngf-max-size="10MB">Выбрать логотип</button>
                </div>
            </div>

        </div>

        <div class="startup-form__col">

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Название компании:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.companyName"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    БИН:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.bin"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Кол-во человек в компании:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.employeesCount"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Год основания:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.foundationYear"
                       required>
            </div>

            <button class="modal-full__button button button--extra-lg" type="submit">
                Отправить
            </button>


        </div>

    </div>

</form>
