<a href="" class="startup-modal__close" ng-click="$ctrl.dismiss()">
    <svg width="28" height="28">
        <use href="/img/icons.svg#close-icon"></use>
    </svg>
</a>

<div class="startup-form">

    <div class="startup-form__title">Анкета стартапа</div>

    <div class="startup-form__row">

        <div class="startup-form__col">

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Название проекта:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.projectName"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Краткое описание:
                    <span class="input-box__required">*</span>
                </label>

                <textarea type="text" class="input-box__textarea" ng-model="$ctrl.description" required></textarea>

            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Ссылка на сайт:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.link"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">
                <label class="input-box__label">Логотип:</label>

                <div style="font-size: 13px; margin-bottom: 5px" ng-show="$ctlr.logotype">{{$ctrl.logotype.name}}</div>

                <div>
                    <button class="button button--xs"
                            type="button"
                            ngf-select=""
                            ng-model="$ctrl.logotype"
                            ngf-max-size="10MB">Выбрать логотип</button>
                </div>
            </div>

        </div>

        <div class="startup-form__col">

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Название компании:
                    <span class="input-box__required">*</span>
                </label>

                <input type="text"
                       class="input-box__input"
                       ng-model="$ctrl.companyName"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    БИН:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.bin"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Кол-во человек в компании:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.employeesCount"
                       required>
            </div>

            <div class="input-box" style="margin-bottom: 15px">

                <label class="input-box__label">
                    Год основания:
                    <span class="input-box__required">*</span>
                </label>

                <input type="number"
                       class="input-box__input"
                       ng-model="$ctrl.foundationYear"
                       required>
            </div>

            <button class="modal-full__button button button--extra-lg" type="submit">
                Отправить
            </button>


        </div>

    </div>

</div>




<!--<div ng-repeat="form in $ctrl.forms track by $index" class="modal-full__step">-->

<!--    <div class="modal-full__row">-->

<!--        <div class="modal-full__heading"-->
<!--             ng-class="{'modal-full__heading&#45;&#45;active': $ctrl.curForm == $index}">-->
<!--            {{$index + 1}}. {{form.title}}-->
<!--        </div>-->

<!--        <a href="" class="modal-full__autocomplete" ng-show="$ctrl.curForm == $index">-->
<!--            Автозаполнить данные-->
<!--            <svg class="modal-full__warning-icon" width="24" height="24">-->
<!--                <use href="/img/icons.svg#warning-icon"></use>-->
<!--            </svg>-->
<!--        </a>-->

<!--    </div>-->

<!--    <form ng-submit="$ctrl.submit($index)" ng-show="$ctrl.curForm === $index">-->

<!--        <div class="modal-full__list">-->

<!--            <div ng-repeat="field in form.fields track by field.id" ng-class="field.type ==='textarea' ? 'input-box&#45;&#45;span2' : ''" class="input-box">-->

<!--                <label class="input-box__label">{{field.label}}<span ng-show="field.is_required" class="input-box__required">*</span></label>-->

<!--                <div ng-if="field.type === 'text'" class="input-box__container">-->
<!--                    <input type="text"-->
<!--                           class="input-box__input"-->
<!--                           ng-model="field.value"-->
<!--                           ng-required="field.is_required">-->
<!--                </div>-->

<!--                <div ng-if="field.type == 'textarea'" class="input-box__container">-->
<!--                    <textarea class="input-box__textarea"-->
<!--                              ng-model="field.value"-->
<!--                              ng-required="field.is_required"></textarea>-->
<!--                </div>-->

<!--                <div ng-if="field.type == 'select'" class="input-box__container">-->

<!--                    <select class="input-box__input"-->
<!--                            ng-init="field.other_option ? field.options.push({'val' : 'Свой вариант'}) : ''"-->
<!--                            ng-model="field.value"-->
<!--                            ng-change="$ctrl.selectOtherOptionSelected(field)"-->
<!--                            ng-options="c as c.val for c in field.options"-->
<!--                            ng-required="field.is_required">-->
<!--                        <option value="">Не выбрано</option>-->
<!--                    </select>-->

<!--                    <svg class="input-box__select-icon" width="24" height="24">-->
<!--                        <use href="/img/icons.svg#chevron-down"></use>-->
<!--                    </svg>-->

<!--                    <div ng-if="field.otherOptionSelected" class="input-box__container">-->
<!--                        <input type="text"-->
<!--                               ng-model="field.otherOptionValue"-->
<!--                               class="input-box__input"-->
<!--                               placeholder="Свой вариант...">-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div ng-if="field.type == 'radio'">-->

<!--                    <div ng-repeat="option in field.options track by $index" class="input-box__radio-item">-->

<!--                        <label class="custom-radio-box">-->

<!--                            <input type="radio"-->
<!--                                   ng-model="field.value"-->
<!--                                   ng-click="$ctrl.radioOtherOptionSelected(field)"-->
<!--                                   class="custom-radio-box__radio"-->
<!--                                   name="{{field.id}}"-->
<!--                                   id="{{field.id + $index + option.val}}"-->
<!--                                   value="{{option.val}}"-->
<!--                                   ng-required="field.is_required">-->

<!--                            <span class="custom-radio-box__checkmark"></span>-->

<!--                            {{option.val}}-->

<!--                        </label>-->

<!--                    </div>-->

<!--                    <div ng-if="field.other_option" class="input-box__radio-item">-->

<!--                        <label class="input-box__radio-box custom-radio-box">-->

<!--                            <input type="radio"-->
<!--                                   ng-model="field.value"-->
<!--                                   class="custom-radio-box__radio"-->
<!--                                   name="field.id"-->
<!--                                   id="{{field.id + 'other_option'}}"-->
<!--                                   value="Свой вариант">-->

<!--                            Свой вариант-->

<!--                        </label>-->

<!--                    </div>-->

<!--                    <div ng-if="field.value === 'Свой вариант'" class="input-box__container">-->
<!--                        <input type="text"-->
<!--                               ng-model="field.otherOptionValue"-->
<!--                               class="input-box__input"-->
<!--                               placeholder="Свой вариант">-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div ng-if="field.type == 'checkbox'">-->

<!--                    <div ng-repeat="option in field.options track by $index" class="input-box__radio-item">-->

<!--                        <label class="custom-radio-box">-->

<!--                            <input type="checkbox"-->
<!--                                   ng-model="option.selected"-->
<!--                                   class="custom-radio-box__radio"-->
<!--                                   value="{{option.val}}">-->

<!--                            <span class="custom-radio-box__checkmark"></span>-->

<!--                            {{option.val}}-->

<!--                        </label>-->

<!--                    </div>-->

<!--                    <div class="input-box__radio-item" ng-if="field.other_option">-->

<!--                        <label class="custom-radio-box">-->

<!--                            <input type="checkbox"-->
<!--                                   ng-model="field.other_option_selected"-->
<!--                                   ng-click="$ctrl.checkboxOtherOptionSelected(field)"-->
<!--                                   class="custom-radio-box__radio"-->
<!--                                   value="Свой вариант">-->

<!--                            <span class="custom-radio-box__checkmark"></span>-->

<!--                            Свой вариант-->

<!--                        </label>-->

<!--                    </div>-->

<!--                    <div ng-if="field.other_option_selected" class="input-box__container">-->
<!--                        <input type="text"-->
<!--                               ng-model="field.otherOptionValue"-->
<!--                               class="input-box__input"-->
<!--                               placeholder="Свой вариант...">-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div ng-if="field.type == 'file'" class="modal-full__input-box">-->
<!--                    <div class="input-box__container">-->
<!--                        <div class="input-box__files-box">-->
<!--                            <a class="input-box__sample-link"-->
<!--                               ng-if="field.example_files"-->
<!--                               ng-repeat="exFile in field.example_files"-->
<!--                               href="/cabinet/download-file/{{exFile.path}}"-->
<!--                            >-->
<!--                                <svg width="20" height="20">-->
<!--                                    <use href="/img/icons.svg#download"></use>-->
<!--                                </svg>-->
<!--                                Скачать пример-->
<!--                            </a>-->
<!--                            <div class="input-box__file-box" ng-show="field.max_files_count === 1 && field.value">-->
<!--                                <a class="input-box__file" href="">{{field.value.name}}</a>-->
<!--                                <a href="" ng-click="field.value = null" class="input-box__file-delete">-->
<!--                                    <svg width="24" height="24">-->
<!--                                        <use href="/img/icons.svg#close-icon"></use>-->
<!--                                    </svg>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="input-box__file-box"-->
<!--                                 ng-show="field.value.length > 0"-->
<!--                                 ng-repeat="file in field.value track by $index">-->
<!--                                <a class="input-box__file" href="">{{file.value.name}}</a>-->
<!--                                <a href="" ng-click="file.value = null" class="input-box__file-delete">-->
<!--                                    <svg width="24" height="24">-->
<!--                                        <use href="/img/icons.svg#close-icon"></use>-->
<!--                                    </svg>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;                            <div style="margin-bottom: 10px">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <button type="button"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ngf-select=""&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ng-init="field.max_files_count === 1 ? field.value = null : field.value = []"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ng-model="field.value"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ngf-change="$ctrl.validateFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event,field)"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ngf-multiple="{{field.max_files_count === 1 ? 'false' : 'true'}}"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        accept="{{field.file_allows === 'specific' ? field.file_types : '*'}}"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        ngf-max-size="10MB">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <span>выбрать файл</span>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                            &lt;!&ndash;                            <div ng-show="field.max_files_count === 1 && field.value">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <table>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <th>Название</th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <th>Действие</th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tbody>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <td>{{field.value.name}}</td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <button type="button" class="btn btn-danger btn-sm"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                    ng-click="field.value = null">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                Удалить&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tbody>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </table>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                            &lt;!&ndash;                            <div ng-show="field.value.length > 0">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <table>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <th>Название</th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <th>Действие</th>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </thead>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tbody>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <tr ng-repeat="file in field.value track by $index">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <td>{{file.name}}</td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            <button type="button" class="btn btn-danger btn-sm"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                    ng-click="$ctrl.removeFile(field,$index)">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                                Удалить&ndash;&gt;-->
<!--                            &lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        </td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tr>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </tbody>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </table>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->

<!--                        </div>-->
<!--                        <button class="input-box__btn button button&#45;&#45;xs"-->
<!--                                type="button"-->
<!--                                ngf-select=""-->
<!--                                ng-init="field.max_files_count === 1 ? field.value = null : field.value = []"-->
<!--                                ng-model="field.value"-->
<!--                                ngf-change="$ctrl.validateFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event,field)"-->
<!--                                ngf-multiple="{{field.max_files_count === 1 ? 'false' : 'true'}}"-->
<!--                                accept="{{field.file_allows === 'specific' ? field.file_types : '*'}}"-->
<!--                                ngf-max-size="10MB">Загрузить файл</button>-->
<!--                    </div>-->

<!--                </div>-->

<!--                &lt;!&ndash;                <small class="form-text text-muted">{{field.prompt}}</small>&ndash;&gt;-->

<!--            </div>-->

<!--        </div>-->

<!--        <button class="modal-full__button button button&#45;&#45;extra-lg" type="submit">-->
<!--            {{$last ? 'Отправить' : 'Далее'}}-->
<!--        </button>-->

<!--    </form>-->

<!--</div>-->

