<div class="card">
    <div class="card-body">

        <div class="alert alert-success" ng-show="!$ctrl.application.manager">
            Новая заявка.
            <button class="btn btn-primary" type="button" ng-click="$ctrl.takeForProcessing()">Взять в обработку
            </button>
        </div>

        <div>Отправитель: <b>{{$ctrl.application.user.full_name}}</b></div>
        <div>Дата и время отправки: <b>{{$ctrl.application.created_at | amDateFormat : 'DD.MM.YYYY HH:mm'}}</b></div>
        <div class="mb-3">Текущий статус: <b>{{$ctrl.application.status}}</b></div>

    </div>
</div>

<div class="card">
    <div class="card-header">Данные</div>
    <div class="card-body">
        <table class="table table-bordered table-condensed">
            <tbody ng-repeat="appForm in $ctrl.application.forms track by $index">
            <tr>
                <th colspan="2">{{appForm.form.title}}</th>
            </tr>
            <tr ng-repeat="field in appForm.fields track by $index">
                <td>{{field.form_field.label}}</td>
                <td>
                    <span ng-if="field.form_field.type !== 'file'">{{field.value}}</span>
                    <div ng-if="field.form_field.type === 'file'">
                        <div ng-repeat="file in field.value">
                            <a href="/cabinet/download-file/{{file.path}}">{{file.name}}</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">

    <div class="card-header">
        <h3 class="card-title">Действия</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-6">
                <div class="card-header">Сообщения</div>
                <div class="card-body" style="max-height: 500px; overflow-y: auto">
                    <div class="card mb-2" ng-repeat="action in $ctrl.application.actions.message track by $index">
                        <div class="card-header">
                            {{action.user.full_name}}
                            <span class="float-right">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</span>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="card-text">
                                    {{action.message}}
                                </div>

                                <div class="card-comments" ng-if="action.additional_data.length">
                                    <hr>
                                    Прикрепленные файлы:
                                    <div ng-repeat="file in action.additional_data track by $index"
                                         class="d-flex align-items-center">
                                        <a href="/cabinet/download-file/{{file.path}}"><small class="text-muted">{{file.name}}</small></a>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card-header">История</div>
                <div class="card-body" style="max-height: 500px; overflow-y: auto">
                    <div class="card mb-2" ng-repeat="action in $ctrl.application.actions.action track by $index">
                        <div class="card-header">
                            {{action.user.full_name}} -
                            <span ng-if="action.name === 'application_updated'">редактировал заявку</span>
                            <span ng-if="action.name === 'application_sent'">отправил завяку</span>
                            <span class="float-right">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</span>
                        </div>
                        <div class="card-body" ng-if="action.name == 'application_updated'">
                            <div>
                                <table class="table table-bordered table-striped table-sm">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Измененное поле</th>
                                        <th>Старое значение</th>
                                        <th>Новое значение</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="data in action.additional_data track by $index">
                                        <td>{{data.label}}</td>
                                        <td>
                                            <div ng-if="data.type === 'file'">
                                                <div ng-repeat="(name,path) in data.old_data ">
                                                    <a href="/cabinet/download-file/{{path}}">{{name}}</a>
                                                </div>
                                            </div>
                                            <div ng-if="data.type !== 'file'">
                                                <span ng-if="data.old_value_stringified">{{data.old_value_stringified}}</span>
                                                <span ng-if="!data.old_value_stringified">{{data.old_value}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="data.type === 'file'">
                                                <div ng-repeat="(name,path) in data.new_data">
                                                    <a href="/cabinet/download-file/{{path}}">{{name}}</a>
                                                </div>
                                            </div>
                                            <div ng-if="data.type !== 'file'">
                                                <span
                                                    ng-if="data.new_value_stringified">{{data.new_value_stringified}}</span>
                                                <span ng-if="!data.new_value_stringified">{{data.new_value}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="mb-2" ng-show="$ctrl.application.entity_model == 'App\\Program'">
    <button type="button" class="btn btn-success" ng-click="$ctrl.accept()">Принять и добавить в программу</button>
</div>

<a href=""
   ng-show="$ctrl.application.entity_model == 'App\\Module' && $ctrl.application.entity.slug == 'astanahub_membership'"
   ng-href="/control-panel/members/create?application_id={{$ctrl.application.id}}"
   class="btn btn-success">
    Принять и зарегестрировать участника
</a>

<br>

<div>
    <button type="button" class="btn btn-danger" ng-click="$ctrl.reject()">Отказать</button>
</div>
