<div class="alert alert-default-warning" ng-show="!$ctrl.application.manager">
    Данная заявка открыта.
    <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.takeForProcessing()">
        Взять в обработку
    </button>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div>Отправитель: <b>{{$ctrl.application.user.full_name}}</b></div>
        <div>Дата и время отправки: <b>{{$ctrl.application.created_at | amDateFormat : 'DD.MM.YYYY HH:mm'}}</b></div>
        <div ng-switch="$ctrl.application.status">Текущий статус:
                <b ng-switch-when="open">открыта</b>
                <b ng-switch-when="process">на рассмотрении</b>
                <b ng-switch-when="accepted">принята</b>
                <b ng-switch-when="rejected">отклонена</b>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="text-muted mb-0">Анкета</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-condensed table-sm">
            <tbody ng-repeat="appForm in $ctrl.application.forms track by $index">
            <tr>
                <th colspan="2">{{appForm.form.title}}</th>
            </tr>
            <tr ng-repeat="field in appForm.fields track by $index">
                <td>{{field.form_field.label}}</td>
                <td>
                    <span ng-if="field.form_field.type !== 'file'">{{field.value}}</span>
                    <div ng-if="field.form_field.type === 'file'">
                        <div ng-repeat="file in field.value">
                            <a href="/cabinet/download-file/{{file.path}}/{{file.name}}">{{file.name}}</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-3" ng-show="$ctrl.canEdit">

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="text-muted mb-0">Чат</h5>
            </div>
            <div style="max-height: 350px; overflow-y: auto" class="mb-2"  id="chatSectionScrollDiv">
                <ul class="list-group list-group-flush mb-2">
                    <li ng-repeat="action in $ctrl.application.actions.message track by $index"
                        class="list-group-item"
                        id="message-{{ ::$index }}" scroll-to-last="message-{{ ::$index }}">
                        <div class="mb-2">
                            {{action.user.full_name}}
                            <small class="float-right text-muted">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</small>
                        </div>
                        <div class="mb-2">{{action.message}}</div>
                        <div ng-repeat="file in action.additional_data track by $index">
                            <a href="/cabinet/download-file/{{file.path}}/{{file.name}}">{{file.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <form ng-submit="$ctrl.sendMessage()" class="mb-3">
                    <div class="form-group">
                        <label>Сообщение</label>
                        <textarea class="form-control" ng-model="$ctrl.message" rows="3"></textarea>
                    </div>
                    <div class="d-flex flex-column">
                        <div ng-repeat="file in $ctrl.attachedFiles track by $index" class="d-flex align-items-center">
                            <small class="text-muted">{{file.name}}</small>
                            <a class="btn btn-link text-decoration-none" ng-click="$ctrl.removeAttachedFile($index)"> &times;</a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary"
                                ng-disabled="$ctrl.message === '' && $ctrl.attachedFiles.length === 0">Отправить
                        </button>
                        <button type="button" class="btn btn-link" ngf-select=""
                                ngf-keep="true"
                                ng-model="$ctrl.attachedFiles"
                                ngf-multiple="true">
                            <span>Прикрепить файлы</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card"
             id="historySectionScrollDiv"
             style="max-height: 350px; overflow-y: auto">
            <div class="card-header">
                <h5 class="text-muted mb-0">История</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    ng-repeat="action in $ctrl.application.actions.action track by $index">

                    <div class="mb-2">
                        {{action.user.full_name}} -
                        <span ng-if="action.name === 'application_updated'">редактировал заявку</span>
                        <span ng-if="action.name === 'application_sent'">отправил завяку</span>
                        <span class="float-right">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</span>
                    </div>

                    <div ng-if="action.name == 'application_updated'">
                        <table class="table table-bordered table-striped table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th>Измененное поле</th>
                                <th>Старое значение</th>
                                <th>Новое значение</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in action.additional_data track by $index">
                                <td>{{data.label}}</td>
                                <td>
                                    <div ng-if="data.type === 'file'">
                                        <div ng-repeat="(name,path) in data.old_data ">
                                            <a href="/cabinet/download-file/{{path}}/{{name}}">{{name}}</a>
                                        </div>
                                    </div>
                                    <div ng-if="data.type !== 'file'">
                                        <span ng-if="data.old_value_stringified">{{data.old_value_stringified}}</span>
                                        <span ng-if="!data.old_value_stringified">{{data.old_value}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="data.type === 'file'">
                                        <div ng-repeat="(name,path) in data.new_data">
                                            <a href="/cabinet/download-file/{{path}}/{{name}}">{{name}}</a>
                                        </div>
                                    </div>
                                    <div ng-if="data.type !== 'file'">
                                                <span
                                                        ng-if="data.new_value_stringified">{{data.new_value_stringified}}</span>
                                        <span ng-if="!data.new_value_stringified">{{data.new_value}}</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </li>
            </ul>

        </div>
    </div>

</div>

<div>
    <button ng-show="$ctrl.canEdit"
            type="button"
            class="btn btn-danger"
            ng-click="$ctrl.reject()">
        Отклонить заявку
    </button>
    <button class="btn btn-success" ng-show="$ctrl.canEdit" ng-click="$ctrl.accept()">
        Принять заявку
    </button>
</div>


<!--<div class="mb-2" ng-show="$ctrl.application.entity_model == 'App\\Program'">-->
<!--    <button type="button" class="btn btn-success" ng-click="$ctrl.accept()">Принять и добавить в программу</button>-->
<!--</div>-->

<!--<a href=""-->
<!--   ng-show="$ctrl.application.entity_model == 'App\\Module' && $ctrl.application.entity.slug == 'astanahub_membership'"-->
<!--   ng-href=""-->
<!--   class="btn btn-success">-->
<!--    Принять и зарегестрировать участника-->
<!--</a>-->

<!--<a href=""-->
<!--   ng-show="$ctrl.application.entity_model == 'App\\Module' && "-->
<!--   ng-href=""-->
<!--   class="btn btn-success">-->
<!--    Принять и добавить ИТ решение-->
<!--</a>-->

<!--<a href=""-->
<!--   ng-show="$ctrl.application.entity_model == 'App\\Module' && "-->
<!--   ng-href=""-->
<!--   class="btn btn-success">-->
<!--    Принять и добавить задачу-->
<!--</a>-->

<!--<a href=""-->
<!--   ng-show="$ctrl.application.entity_model == 'App\\Module' && "-->
<!--   ng-href=""-->
<!--   class="btn btn-success">-->
<!--    Принять и добавить задачу-->
<!--</a>-->

<!--<a href=""-->
<!--   ng-show=""-->
<!--   ng-href=""-->
<!--   class="btn btn-success">-->
<!--    Принять и добавить решение-->
<!--</a>-->

<!--<br>-->

<!--<div class="d-flex">-->
<!--    <a ng-show=" && $ctrl.application.entity.id == $ctrl.application.entity_id"-->
<!--       ng-href="">-->
<!--        Добавить арендатора по данной заявке-->
<!--    </a>-->
<!--</div>-->
