<div class="alert alert-default-warning" ng-show="$ctrl.program.status == 'draft'">
    Данная программа еще не опубликована.
    <button type="button" class="btn btn-primary btn-sm ml-2" ng-click="$ctrl.openToPublishModal()">Опубликовать</button>
</div>

<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active"
                   href=""
                   ng-href="/control-panel/programs/{{$ctrl.program.id}}/main">
                  Основная информация
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/page">Страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-href="/control-panel/programs/{{$ctrl.program.id}}/forms">Анкета</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form ng-submit="$ctrl.save()">

            <div class="form-row">

                <div class="col-6">

                    <div class="form-group">
                        <label>Название:</label>
                        <input type="text" class="form-control" placeholder="Введите название" ng-model="$ctrl.title" required>
                    </div>

                    <div class="form-group">
                        <label>Краткое описание:</label>
                        <textarea class="form-control" ng-model="$ctrl.shortDescription" rows="4" required></textarea>
                    </div>

                    <div class="form-group">
                        <label>Дата окончания приема заявок</label>
                        <input type="date" class="form-control" ng-model="$ctrl.limitDate">
                        <small class="form-text text-muted">Необязательное поле</small>
                    </div>

                </div>

            </div>

            <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.loading">
                Сохранить
            </button>

        </form>
    </div>
</div>