<div class="modal-header">
    <h5 class="modal-title">Отправить заявку</h5>
    <button type="button" class="close" ng-click="$ctrl.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div ng-if="!$ctrl.user" class="alert alert-danger">
        <a href="" ng-click="$ctrl.openLoginModal()">Войдите</a> или
        <a href="" ng-click="$ctrl.openRegisterModal()">Зарегистрируйтесь</a>
    </div>

    <div ng-if="$ctrl.user">

        <div ng-repeat="form in $ctrl.forms track by $index">

            <form ng-submit="$ctrl.submit($index)" ng-if="$ctrl.curForm === $index">

                <div class="form-group" ng-repeat="field in form.fields track by field.id">

                    <label>{{field.label}}:</label>

                    <input type="text"
                           ng-if="field.type == 'text'"
                           class="form-control"
                           ng-model="field.value"
                           ng-required="field.is_required">

                    <textarea class="form-control"
                              ng-if="field.type == 'textarea'"
                              ng-model="field.value"
                              ng-required="field.is_required"></textarea>


                    <div ng-if="field.type == 'radio'">
                        <div class="form-check"
                             ng-repeat="option in field.options track by $index">
                            <input ng-model="field.value"
                                   class="form-check-input"
                                   ng-click="$ctrl.radioOtherOptionSelected(field)"
                                   type="radio"
                                   name="field.id"
                                   id="{{field.id + $index + option.val}}"
                                   value="{{option.val}}"
                                   ng-required="field.is_required">
                            <label class="form-check-label"
                                   for="{{field.id + $index + option.val}}">
                                {{option.val}}
                            </label>
                        </div>

                        <div class="form-check" ng-if="field.other_option">
                            <input
                                ng-model="field.value"
                                class="form-check-input"
                                type="radio"
                                name="field.id"
                                id="{{field.id + 'other_option'}}"
                                value="Свой вариант">
                            <label class="form-check-label"
                                   for="{{field.id + 'other_option'}}">
                                Свой вариант
                            </label>
                        </div>

                        <div ng-if="field.value === 'Свой вариант'" class="mt-2">
                            <input type="text" ng-model="field.otherOptionValue" class="form-control"
                                   placeholder="Свой вариант">
                        </div>
                    </div>
                    <div ng-if="field.type == 'checkbox'">
                        <div class="form-check"
                             ng-repeat="option in field.options track by option.val + field.id">

                            <input ng-model="option.selected"
                                   class="form-check-input"
                                   type="checkbox"
                                   value="{{option.val}}"
                                   id="{{field.id + $index + option.val}}">

                            <label class="form-check-label"
                                   for="{{field.id + $index + option.val}}">
                                {{option.val}}
                            </label>
                        </div>

                        <div class="form-check" ng-if="field.other_option">
                            <input ng-model="field.other_option_selected"
                                   class="form-check-input"
                                   type="checkbox"
                                   ng-click="$ctrl.checkboxOtherOptionSelected(field)"
                                   value="Свой вариант"
                                   id="{{field.id + 'other_option_checkbox'}}">

                            <label class="form-check-label"
                                   for="{{field.id + 'other_option_checkbox'}}">
                                Свой вариант
                            </label>
                        </div>

                        <div ng-if="field.other_option_selected" class="mt-2">
                            <input type="text" ng-model="field.otherOptionValue" class="form-control"
                                   placeholder="Свой вариант">
                        </div>
                    </div>

                    <div class="" ng-if="field.type == 'select'">
                        <select class="custom-select mr-sm-2"
                                ng-init="field.other_option ? field.options.push({'val' : 'Свой вариант'}) : ''"
                                ng-model="field.value"
                                ng-change="$ctrl.selectOtherOptionSelected(field)"
                                ng-options="c as c.val for c in field.options"
                                ng-required="field.is_required">
                            <option value="">Выберите...</option>
                        </select>
                        <div ng-if="field.otherOptionSelected" class="mt-2">
                            <input type="text"
                                   ng-model="field.otherOptionValue"
                                   class="form-control"
                                   placeholder="Свой вариант...">
                        </div>
                    </div>

                    <div ng-if="field.type == 'file'">
                        <div ng-show="field.max_files_count === 1 && field.value" class="d-flex">
                            <table class="table table-bordered table-striped table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th>Название</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{field.value.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                ng-click="field.value = null">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="field.value.length > 0" class="mb-2">
                            <table class="table table-bordered table-striped table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th>Название</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="file in field.value track by $index">
                                    <td>{{file.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm"
                                                ng-click="$ctrl.removeFile(field,$index)">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="form-control-file" ngf-select=""
                                ng-init="field.max_files_count === 1 ? field.value = null : field.value = []"
                                ng-model="field.value"
                                ngf-change="$ctrl.validateFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event,field)"
                                ngf-multiple="{{field.max_files_count === 1 ? 'false' : 'true'}}"
                                accept="{{field.file_allows === 'specific' ? field.file_types : '*'}}"
                                ngf-max-size="10MB">
                            <span>выбрать файл</span>
                        </button>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">{{$last ? 'Отправить' : 'Далее'}}</button>

            </form>

        </div>

        <div ng-if="$ctrl.curForm == 'finished'">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Ваша заявка успешно отправлена.
                    </div>
                    <div class="card-subtitle">
                        Для того чтобы отслеживать статус заявок, вы можете перейти по этой ссылке.
                        <a href="/cabinet/applications">перейти.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.saves()">Save changes</button>
</div>
