<div class="tabs__content tabs-inner">

    <div class="tabs-inner__section companies">

        <div class="companies__list">

            <a style="display: block; cursor: pointer" href="/tech-garden/laboratory" class="text-cards__item smart-box smart-box--company">

                <div class="smart-box__body">
                    <img src="/img/lab-company-1.png" alt="" class="smart-box__logo">

                    <div class="smart-box__title">
                        Центр цифровой промышленности Intellisense-Lab
                    </div>

                    <div class="smart-box__text">
                        Центр цифровой промышленности Intellisense-LAB открыт Tech Garden в июне 2018 г.
                        совместно с
                        ТНК «IntelliSense.io Limited» (Великобритания) для разработки и внедрения технологий
                        Индустрии 4.0.
                    </div>
                </div>

            </a>

            <a style="display: block; cursor: pointer" href="/tech-garden/laboratory"  class="text-cards__item smart-box smart-box--company">

                <div class="smart-box__body">
                    <img src="/img/bimlab-icon.png" alt="" class="smart-box__logo">

                    <div class="smart-box__title">
                        Лаборатория BIM+
                    </div>

                    <div class="smart-box__text">
                        Центр «Лаборатория BIM+» открыт в январе 2019 г. совместно с ТНК EcoDomus Inc (США) для
                        цифровизации полного жизненного цикла строительства объектов, в том числе промышленных,
                        в целях снижения эксплуатационных расходов.
                    </div>
                </div>

            </a>

            <div class="text-cards__item smart-box smart-box--company">

                <div class="smart-box__body">

                    <div class="smart-box__title">
                        Центр интеллектуальных систем
                    </div>

                    <div class="smart-box__text">
                        Центр на основе реинжиниринга бизнес-процессов решает вопросы интеграции,
                        прототипирования и понимания использования новых ИТ технологий недропользователями и
                        сервисными компаниями, промышленными предприятиями всех отраслей, логистическими и
                        железнодорожными операторами.
                    </div>
                </div>

            </div>

            <div class="text-cards__item smart-box smart-box--company">

                <div class="smart-box__body">

                    <div class="smart-box__title">
                        Центр по новым материалам и аддитивным технологиям
                    </div>

                    <div class="smart-box__text">
                        Центр по Новым материалам и аддитивным технологиям – осуществляет трансферт передовой
                        технологии производства металлических порошков, которая позволит снизить себестоимость
                        производства на 35%, а также перерабатывать хвосты и отвалы ГМК Казахстана.
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>