<div class="container">
    <div class="d-flex justify-content-between">
        <div>Программы</div>
        <div>
            <button>
                Смотреть все
            </button>
            <i class="fa fa-angle-left"></i>
            <i class="fa fa-angle-right"></i>
        </div>
    </div>

    <div>
        <div ng-repeat="program in $ctrl.programs track by $index">
            <a href="" ng-href="/astana-hub/programs/{{program.id}}">{{program.title}}</a>
        </div>
    </div>
</div>