<div class="content__news news-box" ng-class="{'news-box--sm': !$ctrl.display}">

    <div class="news-box__row">
        <div class="news-box__heading">{{ 'Latest news' | translate }}</div>
        <button type="button"
                ng-click="$ctrl.display = !$ctrl.display"
                class="news-box__btn button-back button-back--icon-right button-back--white"
                ng-class="{'button-back--rotate': !$ctrl.display}">
            {{$ctrl.display ? ('Hide' | translate) : ('Show' | translate)}}
            <svg class="button-back__icon" width="18" height="18">
                <use href="/img/icons.svg#toggle-2"></use>
            </svg>
        </button>
    </div>

    <div class="news-box__list" ng-class="{'news-box__list--hide': !$ctrl.display}">
        <a href="" ng-href="/news/{{newsItem.id}}" class="news-box__item" ng-repeat="newsItem in $ctrl.news">
            <div class="news-box__date">
                {{newsItem.published_at | amDateFormat : 'HH:mm'}} <br>
                {{newsItem.published_at | amDateFormat : 'D MMM'}}
            </div>
            <div class="news-box__text">{{newsItem.title | truncate : 75 : '...'}}</div>
        </a>
    </div>

    <button ng-show="$ctrl.display && $ctrl.news.length < $ctrl.newsCount"
            ng-click="$ctrl.loadMore()"
            class="news-box__btn button-back button-back--icon-right button-back--rotate button-back--white">
        {{ 'Load more' | translate }}
        <svg class="button-back__icon" width="18" height="18">
            <use href="/img/icons.svg#toggle-2"></use>
        </svg>
    </button>

</div>
