<div class="card">
  <div class="card-header">
    Регистрация проекта
  </div>
  <form ng-submit="$ctrl.submit()">
    <div class="card-body row">
      <div class="col-6">
        <div class="form-group">
          <label>Название проекта:</label>
          <input class="form-control" ng-model="$ctrl.title" required>
        </div>
        <div class="form-group">
          <label>Ссылка на сайт:</label>
          <input class="form-control" ng-model="$ctrl.link" required>
        </div>
        <div class="form-group">
          <label>Логотип:</label>
          <div class="mb-2">
            <img ng-show="$ctrl.image" ngf-thumbnail="$ctrl.image" width="100"/>
          </div>
          <div>
            <a class="btn btn-light"
               ngf-select=""
               ng-model="$ctrl.image"
               accept="image/*">

              <span ng-show="!$ctrl.image">Выбрать изображение</span>
              <span ng-show="$ctrl.image">Изменить изображение</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label>Название компаний:</label>
          <input class="form-control" ng-model="$ctrl.companyName" required>
        </div>
        <div class="form-group">
          <label>Краткое описание:</label>
          <textarea class="form-control" ng-model="$ctrl.description" required></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit">Зарегистрировать</button>
    </div>
  </form>
</div>