<div class="tabs__content tabs-inner">
    <div class="tabs-inner__section programs">

        <div class="programs__list">

            <a href=""
               class="programs__card program-box"
               ng-href="/astana-hub/programs/{{program.id}}"
               ng-repeat="program in $ctrl.programs track by $index">

                <span class="program-box__more-btn">
                    <img src="/img/icons/chevron-right-alt.svg" alt="">
                </span>

                <div class="program-box__title">
                    {{ program.title }}
                </div>

                <div class="program-box__date" ng-show="program.limit_date">
                    Срок подачи до: {{ program.limit_date | amDateFormat : 'D MMM' }}
                </div>

                <div class="program-box__text">
                    {{ program.short_description }}
                </div>

            </a>

        </div>
    </div>
</div>
