<div class="tabs__content tabs-inner">
    <div class="tabs-inner__section programs">

        <h2 class="programs__title heading-medium">Программы</h2>

        <div class="programs__list">

            <div ng-repeat="program in $ctrl.programList" class="programs__card program-box {{program.color && 'program-box--'+program.color}}">
                <div class="program-box__circles"></div>
                <div class="program-box__title">{{program.title}}
                </div>
                <button class="program-box__button button button--white">Подробнее</button>
            </div>

        </div>
    </div>
</div>
