<div class="alert alert-light" ng-show="$ctrl.vacancy.status == 'draft'">
  Данная вакансия находится в режиме черновика. Хотите <a href="" ng-click="$ctrl.openToPublishModal()" class="alert-link">опубликовать</a>?
</div>

<form ng-submit="$ctrl.save()">
  <div class="card">
    <div class="card-body">

      <div class="form-group">
        <label>Заголовок вакансий:</label>
        <input type="text" class="form-control" placeholder="Введите заголовок" ng-model="$ctrl.title" required>
      </div>

      <div class="form-group">
        <label>Описание</label>
        <text-angular ta-resize-force-aspect-ratio="true" ng-model="$ctrl.content"></text-angular>
      </div>

    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.loading">
        Сохранить
      </button>
    </div>
  </div>
</form>