<div class="card">
    <div class="card-header">
        <h5 class="modal-title">Новая задача</h5>
    </div>

    <div class="card-body">

        <form ng-submit="$ctrl.submit()">

            <div class="form-group">
                <label>Название компании:</label>
                <input type="text" class="form-control" ng-model="$ctrl.name" required>
            </div>

            <div class="form-group">
                <label>Логотип компании:</label>
                <div>
                    <img ng-show="$ctrl.imageType !== 'string' && $ctrl.image" ngf-thumbnail="$ctrl.image"
                         style="vertical-align: middle; margin-bottom: 10px; width:100px; height: 100px"
                         alt="company icon"/>
                    <img ng-show="$ctrl.imageType === 'string'"
                         ng-src="/{{$ctrl.image}}"
                         style="vertical-align: middle; margin-bottom: 10px; width:100px; height: 100px"
                         alt="company icon"/>
                </div>
                <div>
                    <a class="btn btn-light ml-2"
                       ngf-select=""
                       ngf-model-invalid="$ctrl.invalidAvatar"
                       ng-model="$ctrl.image"
                       ng-change="$ctrl.imageChanged()"
                       accept="image/*"
                       ngf-max-size="10MB">

                        <span ng-show="!$ctrl.image">Выбрать изображение</span>
                        <span ng-show="$ctrl.image">Изменить изображение</span>
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label>Сайт компании:</label>
                <input class="form-control" ng-model="$ctrl.link">
            </div>

            <div class="form-group">
                <label>Адрес компании:</label>
                <input class="form-control" ng-model="$ctrl.address">
            </div>

            <div class="form-group">
                <label>Виды выпускаемой продукции:</label>
                <textarea class="form-control" ng-model="$ctrl.manufacturedProducts"></textarea>
            </div>

            <div class="form-group">
                <label>Полностью автоматизированные бизнес-процессы:</label>
                <textarea class="form-control" ng-model="$ctrl.fullyBP"></textarea>
            </div>

            <div class="form-group">
                <label>Частично автоматизированные бизнес-процессы:</label>
                <textarea class="form-control" ng-model="$ctrl.partlyBP"></textarea>
            </div>

            <div class="form-group">
                <label>Задачи:</label>
                <textarea class="form-control" ng-model="$ctrl.actualTasks"></textarea>
            </div>

            <div class="form-group">
                <label>Системы, которые внедрены на предприятии:</label>
                <textarea class="form-control" ng-model="$ctrl.embeddedTasks"></textarea>
            </div>

            <button type="submit" class="btn btn-primary d-flex ml-auto">Создать</button>
        </form>
    </div>
    <div class="card-footer">


    </div>
</div>
