%container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ui-container {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.ui-container-fix {
    width: 1200px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}
