.ui-mb-5 {
    margin-bottom: 5px;
}

.ui-bg-8 {
    margin-bottom: 8px;
}

.ui-mb-16 {
    margin-bottom: 16px;
}

.ui-mb-24 {
    margin-bottom: 24px;
}

.ui-mb-40 {
    margin-bottom: 40px;
}

.ui-mb-60 {
    margin-bottom: 60px;
}

.ui-mb-80 {
    margin-bottom: 80px;
}

.ui-mb-100 {
    margin-bottom: 100px;
}

.ui-mb-120 {
    margin-bottom: 120px;
}
