<div class="tabs__content tabs-inner">
    <div class="tabs-inner__section grants">

        <div class="grants__list">

            <div class="grants__card grant-card">
                <div class="grant-card__title">Предоставление инновационных грантов на</div>
                <div class="grant-card__heading">
                    Коммерциализацию технологий
                </div>
                <button class="grant-card__btn button button--w100">Подать заявку</button>
            </div>

            <div class="grants__card grant-card">
                <div class="grant-card__title">Предоставление инновационных грантов на</div>
                <div class="grant-card__heading">
                    Технологическое развитие предприятий
                </div>
                <button class="grant-card__btn button button--w100">Подать заявку</button>
            </div>

            <div class="grants__card grant-card">
                <div class="grant-card__title">Предоставление инновационных грантов на</div>
                <div class="grant-card__heading">
                    Технологическое развитие отраслей

                </div>
                <button class="grant-card__btn button button--w100">Подать заявку</button>
            </div>
        </div>

    </div>
</div>