<button class="header__login-btn button"
        ng-show="!$ctrl.user"
        ng-click="$ctrl.openLoginModal()">
    <img src="/img/icons/user-avatar.svg" alt="" class="header__user-avatar">
    Войти
</button>

<div ng-show="$ctrl.user" uib-dropdown="" class="user-bar-container">

    <div uib-dropdown-toggle="" class="user-bar user-bar-container__toggle">

        <div class="user-bar__img-box user-bar__img-box--notify">
            <img src=""
                 class="user-bar__img"
                 ng-if="$ctrl.user.avatar_url"
                 ng-src="{{$ctrl.user.avatar_url}}"
                 alt="">
            <div ng-show="!$ctrl.user.avatar_url"
                 class="user-bar__initials">
                {{ $ctrl.user.initials }}
            </div>
        </div>

        <div class="user-bar__name">
            {{ $ctrl.user.full_name }}
        </div>

        <svg class="user-bar__toggle" width="10" height="5">
            <use xlink:href="/img/icons.svg#toggle"></use>
        </svg>

    </div>

    <ul uib-dropdown-menu="" class="user-bar-container__dropdown user-dropdown">
        <a href="/cabinet" class="user-dropdown__item">
            <svg class="user-dropdown__icon" width="24" height="24">
                <use href="/img/icons.svg#profile-icon"></use>
            </svg>
            Кабинет
        </a>

        <a href="/cabinet/applications" class="user-dropdown__item">
            <svg class="user-dropdown__icon" width="24" height="24">
                <use href="/img/icons.svg#file"></use>
            </svg>
            Заявки
        </a>

        <a href="/cabinet/notifications" class="user-dropdown__item user-dropdown__item--border">
            <svg class="user-dropdown__icon" width="24" height="24">
                <use href="/img/icons.svg#bell"></use>
            </svg>
            Уведомления
            <div class="user-dropdown__badge as-badge">
                12
            </div>
        </a>

        <a href="" class="user-dropdown__item" ng-click="$ctrl.logout()">
            <svg class="user-dropdown__icon" width="24" height="24">
                <use href="/img/icons.svg#exit"></use>
            </svg>
            Выйти
        </a>
    </ul>

    <div class="notify-dropdown">
        <svg class="notify-dropdown__icon" width="24" height="24">
            <use href="/img/icons.svg#bell-red-bg"></use>
        </svg>

        <div class="notify-dropdown__info">
            <div class="notify-dropdown__title">
                Новое уведомление
            </div>

            <div class="notify-dropdown__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
        </div>
    </div>

</div>


