<form class="mb-3" ng-submit="$ctrl.filter()">
  <div class="form-row">
    <div class="col-3">
      <input type="text"
             class="form-control"
             placeholder="Название"
             ng-model="$ctrl.name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Поиск</button>
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>
    </div>
  </div>
</form>

<div class="mb-3 clearfix">
  <div class="float-left">
    Всего: <b>{{$ctrl.total}}</b> {{$ctrl.total | plural : ['мероприятие', 'мероприятия', 'мероприятий']}}
  </div>
  <a href="" ng-click="$ctrl.openCreateModal()" class="btn btn-primary float-right">
    Добавить мероприятие
  </a>
</div>

<table class="table table-bordered table-sm bg-white">
  <thead class="thead-light">
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>Дата и время провидения</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="event in $ctrl.events track by $index">
    <td>{{event.id}}</td>
    <td>{{event.name}}</td>
    <td>{{event.start_date | date:'dd.MM.yyyy HH:mm'}}</td>
    <td class="text-center">
      <a href=""
         ng-href="/control-panel/events/{{event.id}}/main"
         class="btn btn-primary btn-xs">
        <i class="fa fa-pen"></i>
      </a>
    </td>
  </tr>
</table>

<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    ng-change="$ctrl.getList()"
    items-per-page="$ctrl.perPage"
    template-url="b4-pagination">
</ul>
