<div class="content__welcome-section startup-welcome-section">

    <div class="startup-welcome-section__info">
        <div class="startup-welcome-section__title">
            Инвесторы 🤝
            <img src="/img/icons/satellite-colored.svg" alt="" class="startup-welcome-section__icon">
        </div>

        <div class="startup-welcome-section__subtitle">
            Если Вы хотите найти проекты для инвестиции, <br>
            заполните анкету инвестора!
        </div>

        <button type="button"
                class="startup-welcome-section__btn button button--lg"
                ng-click="$ctrl.openInvestorForm()">
            Заполнить
        </button>

    </div>

    <img src="/img/investors-poster-img.svg" alt="" class="startup-welcome-section__img">

</div>


<div class="content__investors investors">

    <div class="investors__title">Инвесторы</div>

    <div class="investors__list">

        <div class="investors__item person-card" ng-repeat="investor in $ctrl.investors track by $index">

            <img src="" ng-src="{{investor.photo_url}}" alt="" class="person-card__img">

            <div class="person-card__name">{{investor.user.full_name}}</div>

            <div class="person-card__desc">{{investor.about}}</div>

        </div>

    </div>

</div>
