<h4>Данные:</h4>

<div class="card mb-3" ng-repeat="appForm in $ctrl.app.forms track by $index">
    <form ng-submit="$ctrl.updateForm(appForm)">

        <div class="card-header">
            {{appForm.form.title}}
            <a href=""
               ng-click="$ctrl.toggleEditing(appForm)"
               class="float-right btn btn-primary btn-sm">
                {{appForm.isEditing ? 'отменить' : 'изменить'}}
            </a>
        </div>

        <div class="card-body">
            <table class="table table-sm table-bordered mb-0">
                <tr ng-repeat="field in appForm.fields track by $index">
                    <th>{{field.form_field.label}}</th>
                    <td>
                        <div ng-show="!appForm.isEditing && field.form_field.type !== 'file' && field.form_field.type !== 'checkbox' ">{{field.value}}</div>
                        <div ng-show="!appForm.isEditing && field.form_field.type == 'checkbox'">{{field.stringValue}}</div>
                        <div ng-show="!appForm.isEditing && field.form_field.type === 'file'">
                            <div class="d-flex flex-column">
                                <div ng-repeat="file in field.value track by $index">
                                    <a href="/cabinet/download-file/{{file.path}}">{{file.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="appForm.isEditing">
                            <input type="text"
                                   ng-if="field.form_field.type == 'text'"
                                   class="form-control"
                                   ng-model="field.editValue"
                                   ng-required="field.form_field.is_required">

                            <textarea ng-if="field.form_field.type == 'textarea'"
                                      class="form-control"
                                      rows="3"
                                      ng-model="field.editValue" required></textarea>

                            <div ng-if="field.form_field.type == 'select'">
                                <select class="custom-select mr-sm-2"
                                        ng-init="field.form_field.other_option ? field.form_field.options.push({'val' : 'Свой вариант'}) : ''"
                                        ng-model="field.editValue"
                                        ng-change="$ctrl.selectFieldChanged(field)"
                                        ng-options="c as c.val for c in field.form_field.options"
                                        ng-required="field.form_field.is_required">
                                </select>
                                <div ng-if="field.editValue.val === 'Свой вариант'" class="mt-2">
                                    <input type="text"
                                           ng-model="field.editValueOtherOption"
                                           class="form-control"
                                           placeholder="Свой вариант...">
                                </div>
                            </div>

                            <div ng-if="field.form_field.type == 'radio'">
                                <div class="form-check"
                                     ng-repeat="option in field.form_field.options track by $index">
                                    <input ng-model="field.value"
                                           class="form-check-input"
                                           type="radio"
                                           name="field.id"
                                           id="{{field.id + $index + option.val}}"
                                           value="{{option.val}}"
                                           ng-required="field.is_required">
                                    <label class="form-check-label"
                                           for="{{field.id + $index + option.val}}">
                                        {{option.val}}
                                    </label>
                                </div>

                                <div class="form-check" ng-if="field.form_field.other_option">
                                    <input
                                        ng-model="field.value"
                                        class="form-check-input"
                                        type="radio"
                                        name="field.id"
                                        id="{{field.id + 'other_option'}}"
                                        value="Свой вариант">
                                    <label class="form-check-label"
                                           for="{{field.id + 'other_option'}}">
                                        Свой вариант
                                    </label>
                                </div>

                                <div ng-if="field.value === 'Свой вариант'" class="mt-2">
                                    <input type="text" ng-model="field.editValueOtherOption" class="form-control"
                                           placeholder="Свой вариант">
                                </div>
                            </div>

                            <div ng-if="field.form_field.type == 'checkbox'">
                                <div class="form-check"
                                     ng-repeat="option in field.form_field.options track by option.val + field.id">

                                    <input ng-model="option.isSelected"
                                           class="form-check-input"
                                           type="checkbox"
                                           ng-checked="option.isSelected"
                                           value="{{option.val}}"
                                           id="{{field.id + $index + option.val}}">

                                    <label class="form-check-label"
                                           for="{{field.id + $index + option.val}}">
                                        {{option.val}}
                                    </label>
                                </div>

                                <div class="form-check" ng-if="field.form_field.other_option">
                                    <input ng-model="field.other_option_selected"
                                           class="form-check-input"
                                           type="checkbox"
                                           ng-click="$ctrl.checkboxOtherOptionSelected(field)"
                                           value="Свой вариант"
                                           ng-checked="field.other_option_selected"
                                           id="{{field.id + 'other_option_checkbox'}}">

                                    <label class="form-check-label"
                                           for="{{field.id + 'other_option_checkbox'}}">
                                        Свой вариант
                                    </label>
                                </div>

                                <div ng-if="field.other_option_selected" class="mt-2">
                                    <input type="text" ng-model="field.editValueOtherOption" class="form-control"
                                           placeholder="Свой вариант">
                                </div>
                            </div>

                            <div ng-if="field.form_field.type == 'file'">
                                <div ng-if="field.value.length > 0">
                                    <table class="table table-bordered table-striped table-sm">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Название</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="file in field.value track by $index">
                                            <td>{{file.name}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                        ng-click="$ctrl.removeFile(field,$index)">
                                                    Удалить
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button type="button" class="form-control-file" ngf-select=""
                                        ngf-keep="true"
                                        ng-model="field.value"
                                        ngf-change="$ctrl.validateFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event,field)"
                                        ngf-multiple="{{field.form_field.max_files_count === 1 ? 'false' : 'true'}}"
                                        accept="{{field.form_field.file_allows === 'specific' ? field.file_types : '*'}}"
                                        ngf-max-size="10MB">
                                    <span>выбрать файл</span>
                                </button>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>

            <div ng-show="appForm.isEditing" class="mt-2">
                <button type="submit" class="btn btn-primary btn-sm">Обновить</button>
            </div>

        </div>
    </form>
</div>

<hr>

<h4>Действия:</h4>

<form ng-submit="$ctrl.sendMessage()" class="mb-3">
    <div class="form-group">
        <label>Сообщение</label>
        <textarea class="form-control" ng-model="$ctrl.message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>


<div class="card mb-2" ng-repeat="action in $ctrl.app.actions track by $index">
    <div class="card-header">
        User: {{action.user.full_name}}. Action: {{action.name}}.
        <span class="float-right">{{action.created_at | amDateFormat : 'DD.MM HH:mm'}}</span>
    </div>
    <div class="card-body">
        <div ng-if="action.name == 'send message'">{{action.message}}</div>
        <div ng-if="action.name == 'update'">
            <button class="btn btn-link" ng-click="$ctrl.openDetails(action)">детали</button>
        </div>
    </div>
</div>
