@import "nullstyle.scss";

@import "~swiper/swiper";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~sweetalert2/src/sweetalert2";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/button";
@import "blocks/main";
@import "blocks/as-navbar";
@import "blocks/content";
@import "blocks/events";
@import "blocks/event-card";
@import "blocks/custom-slider";
@import "blocks/faq";
@import "blocks/search-box";
@import "blocks/feature-cards";
@import "blocks/feature-card";
@import "blocks/feed";
@import "blocks/blog-box";
@import "blocks/event-box";
@import "blocks/welcome-section";
@import "blocks/tabs";
@import "blocks/tabs-inner";
@import "blocks/about-company";
@import "blocks/team";
@import "blocks/team-card";
@import "blocks/programs";
@import "blocks/program-box";
@import "blocks/innovation-request";
@import "blocks/innovations";
@import "blocks/innovation-box";
@import "blocks/about-hub-space";
@import "blocks/program-page";
@import "blocks/program-welcome-section";
@import "blocks/program-cards";
@import "blocks/program-card";
@import "blocks/program-info";
@import "blocks/program-steps";
@import "blocks/program-step";
@import "blocks/program-request";
@import "blocks/socials";
@import "blocks/advantages";
@import "blocks/tariff-section";
@import "blocks/about-rd";
@import "blocks/tariff-cards";
@import "blocks/tariff-card";
@import "blocks/guide-section";
@import "blocks/resources";
@import "blocks/video-box";
@import "blocks/modal-full";
@import "blocks/input-box";
@import "blocks/custom-radio-box";
@import "blocks/as-modal-box";
@import "blocks/as-modal";
@import "blocks/user-bar";
@import "blocks/user-dropdown";
@import "blocks/as-badge";
@import "blocks/lang-dropdown";
@import "blocks/search-dropdown";
@import "blocks/notify-dropdown";
@import "blocks/profile-welcome-section";
@import "blocks/personal-data";
@import "blocks/application-section";
@import "blocks/application-block";
@import "blocks/user-bar-container";
@import "blocks/notifications-section";
@import "blocks/section-filter";
@import "blocks/application-list";
@import "blocks/chat-section";
@import "blocks/message-block";
@import "blocks/about-simp";
@import "blocks/smart-store";
@import "blocks/smart-box";
@import "blocks/news-box";
@import "blocks/additional-info";
@import "blocks/news-more";
@import "blocks/techpark-page";
@import "blocks/techpark-welcome-section";
@import "blocks/benefit-section";
@import "blocks/documents-section";
@import "blocks/document-box";
@import "blocks/memo-box";
@import "blocks/timeline-section";
@import "blocks/as-timeline";
@import "blocks/real-custom-radio-box";
@import "blocks/startup-welcome-section";
@import "blocks/companies";
@import "blocks/investors";
@import "blocks/person-card";
@import "blocks/event-welcome-section";
@import "blocks/fluid-block";
@import "blocks/text-cards";
@import "blocks/text-card";
@import "blocks/about-lab";
@import "blocks/project-box";
@import "blocks/tabled-info";
@import "blocks/partners";
@import "blocks/team-2";
@import "blocks/team-2-card";
@import "blocks/black-fluid";
@import "blocks/circles";
@import "blocks/event-announcement";
@import "blocks/vacations";
@import "blocks/vacation-card";
@import "blocks/vacation-box";
@import "blocks/reply-box";
@import "blocks/grants";
@import "blocks/grant-card";
@import "blocks/feedback-section";
@import "blocks/history-section";
@import "blocks/history-box";

html, body {
    font-size: 62.5%;
    font-family: $base-font !important;
    background-color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}

.modal--sm {
    width: 386px !important;
}

.auth-modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .4;
}

// pagination

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: white;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
}
.pagination li.active a {
    background-color: #af4937;
    color: white;
}

