@import "~bootstrap";
#gjs {
    border: 3px solid #444;
}

//.submit-button {
//    background-color: blue;
//    color: white;
//    border: 1px solid grey;
//}

.test-class {
    color: green;
    opacity: 0.8;
    font-weight: bold;
    font-size: 34px;
    border-bottom: #0f6674 1px solid;
}
