@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/button";
@import "blocks/main";
@import "blocks/as-navbar";
@import "blocks/content";
@import "blocks/events";
@import "blocks/event-card";
@import "blocks/custom-slider";
@import "blocks/faq";
@import "blocks/search-box";
@import "blocks/feature-cards";
@import "blocks/feature-card";
@import "blocks/feed";
@import "blocks/blog-box";
@import "blocks/event-box";
@import "blocks/welcome-section";
@import "blocks/tabs";
@import "blocks/tabs-inner";
@import "blocks/about-company";
@import "blocks/team";
@import "blocks/team-card";
@import "blocks/programs";
@import "blocks/program-box";
@import "blocks/innovation-request";
@import "blocks/innovations";
@import "blocks/innovation-box";
@import "blocks/about-hub-space";
@import "blocks/program-page";
@import "blocks/program-welcome-section";
@import "blocks/program-cards";
@import "blocks/program-card";
@import "blocks/program-info";
@import "blocks/program-steps";
@import "blocks/program-step";
@import "blocks/program-request";
@import "blocks/socials";
@import "blocks/advantages";
@import "blocks/tariff-section";
@import "blocks/about-rd";
@import "blocks/tariff-cards";
@import "blocks/tariff-card";
@import "blocks/guide-section";
@import "blocks/resources";
@import "blocks/video-box";
@import "blocks/modal-full";
@import "blocks/input-box";
@import "blocks/custom-radio-box";

html, body {
    font-size: 62.5%;
    font-family: $base-font;
    background-color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}
