@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";

// components
@import "ui-components/ui-container";
@import "ui-components/ui-header-1";
@import "ui-components/ui-main";
@import "ui-components/ui-sections";
@import "ui-components/ui-grid";
@import "ui-components/ui-bg-img";
@import "ui-components/ui-position";
@import "ui-components/ui-typography";
@import "ui-components/ui-margins";
@import "ui-components/ui-margins";
@import "ui-components/ui-buttons";
@import "ui-components/ui-cards";
@import "ui-components/ui-border";
@import "ui-components/ui-step";
@import "ui-components/ui-socials";

html, body {
    font-size: 62.5%;
    font-family: $base-font !important;
    background-color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}
