<form class="mb-3" ng-submit="$ctrl.filter()">
  <div class="form-row">
    <div class="col-3">
      <input type="text"
             class="form-control"
             placeholder="Название"
             ng-model="$ctrl.title">
    </div>
    <div class="col-3">
      <select ng-model="$ctrl.status" class="form-control">
        <option value="">Выберите статус</option>
        <option value="draft">Не опубликован</option>
        <option value="published">Опубликован</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.loading">Поиск</button>
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>
    </div>
  </div>
</form>

<div class="mb-3 clearfix">
  <div class="float-left">
    Всего: <b>{{$ctrl.total}}</b> {{$ctrl.total | plural : ['вакансия', 'вакансии', 'вакансий']}}
  </div>
  <a href="" ng-click="$ctrl.openCreateModal()" class="btn btn-primary float-right">
    Добавить вакансию
  </a>
</div>

<table class="table bg-white" style="font-size: 14px">
  <thead class="thead-light">
  <tr>
    <th>№</th>
    <th>Название</th>
    <th>Организация</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>
  <tr ng-repeat="vacancy in $ctrl.vacancies track by $index">
    <td>{{vacancy.id}}</td>
    <td>{{vacancy.title}}</td>
    <td>{{vacancy.organization.name}}</td>
    <td ng-switch="vacancy.status">
      <div ng-switch-when="draft" class="text-danger">Не опубликован</div>
      <div ng-switch-when="published" class="text-success">Опубликован</div>
    </td>
    <td class="text-center">
      <a href=""
         ng-href="/control-panel/vacancies/{{vacancy.id}}/main"
         class="btn btn-primary btn-xs">
        <i class="fa fa-pen"></i>
      </a>
    </td>
  </tr>
</table>

<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    ng-change="$ctrl.getList()"
    items-per-page="10"
    template-url="b4-pagination">
</ul>
