<div class="alert alert-light">
  Количество пользователей с такой ролью: {{$ctrl.selectedRole.users_count}}
  <a href="" ng-href="/control-panel/users?role_id={{$ctrl.selectedRole.id}}" class="alert-link">Открыть</a>
</div>
<div class="row">

  <div class="col-6">

    <div class="card">
      <div class="card-header d-flex align-content-center">
        <h5 class="text-muted mb-0 mr-auto">Роли</h5>
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.openAddRoleModal()">
          Добавить роль
        </button>
      </div>
      <div class="list-group list-group-flush">
        <a href=""
           ng-repeat="role in $ctrl.roles track by $index"
           class="list-group-item list-group-item-action"
           ng-class="{active: $ctrl.selectedRole == role}"
           ng-click="$ctrl.selectRole(role)">
          {{ role.name }}
        </a>
      </div>
    </div>


  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header d-flex align-content-center">
        <h5 class="text-muted mb-0 mr-auto">Права</h5>
        <input required
               type="text"
               ng-model="search.name"
               class="form-control form-control-sm w-25"
               placeholder="Введите название прав">
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="permission in $ctrl.permissions | filter:search:strict track by $index">
          {{ permission.name }}
          <div class="custom-control custom-switch float-right">
            <input type="checkbox"
                   ng-model="permission.isSelected"
                   ng-change="$ctrl.permissionChanged(permission)"
                   class="custom-control-input"
                   id="permission_{{permission.id}}">
            <label class="custom-control-label"
                   for="permission_{{permission.id}}"
                   style="font-weight: normal">
              Включен
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
