<div class="row">

    <div class="col-6">

    <div class="card">
      <div class="card-header d-flex align-content-center">
        <h5 class="text-muted mb-0 mr-auto">Роли</h5>
        <button class="btn btn-primary btn-sm" ng-click="$ctrl.openAddRoleModal()">
          Добавить роль
        </button>
      </div>
      <div class="list-group list-group-flush">
        <a href=""
           ng-repeat="role in $ctrl.roles track by $index"
           class="list-group-item list-group-item-action"
           ng-class="{active: $ctrl.selectedRole == role}"
           ng-click="$ctrl.selectRole(role)">
          {{ role.label }}
        </a>
      </div>
    </div>


    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header d-flex align-content-center">
                <h5 class="text-muted mb-0 mr-auto">Модули и действия</h5>
                <input required
                       type="text"
                       ng-model="$ctrl.search"
                       class="form-control form-control-sm w-25"
                       placeholder="Введите название прав">
            </div>
            <ul class="list-group"
                ng-repeat="module in $ctrl.modules track by $index"
                ng-show="(module.permissions | filter : {label: $ctrl.search} : strict).length">
                <li class="list-group-item list-group-item-light">
                    <b>{{module.name}}</b>
                </li>
                <li class="list-group-item"
                    style="padding-left: 40px"
                    ng-repeat="permission in module.permissions | filter : {label: $ctrl.search} : strict track by $index">

                    {{ permission.label }}

                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox"
                               ng-model="permission.isSelected"
                               ng-change="$ctrl.permissionChanged(permission)"
                               class="custom-control-input"
                               id="permission_{{permission.id}}">
                        <label class="custom-control-label"
                               for="permission_{{permission.id}}"
                               style="font-weight: normal">
                            Включен
                        </label>
                    </div>

                </li>
            </ul>
        </div>
    </div>

</div>
