<div class="content__events event-more">

    <div class="event-more__header">
        <img src="/img/astana-hub-tag.png" alt="" class="event-more__tag">

        <div class="event-more__date">12 ноября</div>

        <div class="event-more__heading">
            Level Up Your StartUp
        </div>

        <div class="event-more__subtitle">
            “Разбери свой стартап с профессионалами” <br>
            с Маратом Толибаевым!
        </div>

        <button class="event-more__button button button--lg">
            Записаться
        </button>
    </div>

    <div class="event-more__section">
        <img src="/img/event-solo-poster.png" alt="" class="event-more__poster">
    </div>

    <div class="event-more__section">
        <div class="event-more__name">
            “Как понравиться инвестору и привлечь инвестиции в стартап?”
        </div>

        <div class="event-more__name">
            “Посетить митап Astana Hub с Маратом Толибаевым!”
        </div>
    </div>

    <div class="event-more__section">

        <div class="event-more__text">
            Уже в этот четверг мы встретимся в ZOOM-колле и прокачаем стартапы с серийным предпринимателем, ментором
            и инвестором Маратом Толибаевым.
        </div>

        <div class="event-more__text">
            Марат самостоятельно запустил более 5 стартапов, инвестировал в такие казахстанские стартапы, как Oquda,
            findr.kz, bai.kz, а также в американские – 3DLOOK, PitchMe, Respeacher, Vedom и другие.
        </div>

        <div class="event-more__text">
            Не упустите возможность прокачать свой Elevator Pitch и получить ценные советы по продвижению своего
            бизнеса. Кто знает, может именно ваш стартап пополнит инвестиционный портфель Марата Толибаева?
        </div>
    </div>

    <div class="event-more__section">
        <div class="event-more__title">
            Для того, чтобы прокачаться вам необходимо:
        </div>

        <div class="event-more__text">
            Иметь проект на стадии идеи или прототипа; <br>
            Подготовить выступление на 1 минуту; <br>
            Подготовить презентацию вашего проекта на 1 слайде. <br>
        </div>
    </div>

    <div class="event-more__section">
        <div class="event-more__title">
            Спешите! Количество мест ограничено.
        </div>

        <div class="event-more__text">
            Когда: 10 сентября (четверг) <br>
            Во сколько: 17:00 <br>
            Где: Конференция ZOOM <br>
        </div>
    </div>

</div>
