<div class="card">
    <div class="card-header">
        <a class="btn btn-primary" href="/control-panel/sm/solutions/create">Добавить компанию</a>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Иконка</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Сайт</th>
                <th>Презентация</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="company in $ctrl.companies track by $index">
                <td>{{company.id}}</td>
                <td><img ng-src="{{company.icon}}" alt="..."></td>
                <td>{{company.name}}</td>
                <td>{{company.description | truncate}}</td>
                <td><a ng-href="//{{company.site}}">{{company.site}}</a></td>
                <td><a ng-href="//{{company.presentation_path}}">{{company.presentation_path}}</a></td>
                <td style="display: flex; border: none; padding: 10px 5px; text-align: center">
                    <a ng-href="#"><span class="fas fa-edit" style="margin-right: 10px; color: dodgerblue"></span></a>
                    <a ng-href="#"><span class="fas fa-times" style="color: red;"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
