
<div class="card">
    <div class="card-body">
        <button class="submit-button">asdasd</button>
        <ul class="nav nav-pills nav-fill mb-3">
            <li class="nav-item">
                <a class="nav-link"
                   ng-class="{active: $ctrl.step == 1}"
                   ng-click="$ctrl.toStep(1)"
                   href="">
                    1. Заполните основную информацию
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   ng-class="{active: $ctrl.step == 2, disabled: $ctrl.step < 2}"
                   ng-click="$ctrl.toStep(2)"
                   href="">
                    2. Сделайте страницу
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   ng-class="{active: $ctrl.step == 3, disabled: $ctrl.step < 3}"
                   ng-click="$ctrl.toStep(3)"
                   href="">
                    3. Ознакомтесь с результатом
                </a>
            </li>
        </ul>

        <form ng-submit="$ctrl.toStep(2)" role="form" ng-show="$ctrl.step == 1">

            <div class="form-group">
                <label>Название:</label>
                <input type="text" class="form-control" placeholder="Введите название" ng-model="$ctrl.title" required>
                <small class="form-text text-muted">Обязательное поле</small>
            </div>

            <div class="form-group">
                <label>Краткое описание:</label>
                <textarea class="form-control"
                          rows="3"
                          ng-model="$ctrl.shortDescription"
                          placeholder="Введите краткое описание"
                          required></textarea>
                <small class="form-text text-muted">Обязательное поле</small>
            </div>

            <div class="form-group">
                <label>Дата окончания приема заявок:</label>
                <input type="date" class="form-control" ng-model="$ctrl.limitDate">
            </div>

            <div class="form-group">
                <label>Дата начало:</label>
                <input type="date" class="form-control" ng-model="$ctrl.startDate">
            </div>

            <div class="form-group">
                <label>Дата окончания:</label>
                <input type="date" class="form-control" ng-model="$ctrl.endDate">
            </div>

            <button type="submit" class="btn btn-primary">
                Следующий шаг <span class="fa fa-angle-right"></span>
            </button>

        </form>

        <div ng-show="$ctrl.step == 2">
            <div class="form-group">
                <label>Страница:</label>
<!--                <textarea class="form-control" ng-model="$ctrl.content" rows="30"></textarea>-->
                <div id="gjsProgramPassport">
                </div>

            </div>


            <button type="button" class="btn btn-primary" ng-click="$ctrl.toStep(3)">
                Следующий шаг <span class="fa fa-angle-right"></span>
            </button>

        </div>

        <div ng-show="$ctrl.step == 3">

            <div style="height: 500px; margin-bottom: 10px" ng-bind-html="$ctrl.passportHtml"></div>

            <button type="button" class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="$ctrl.loading">
                Сохранить
            </button>

        </div>
        <button ng-click="openLoginModal()">test</button>

    </div>
</div>

