<form class="mb-3" ng-submit="$ctrl.filter()">

    <div class="form-row">

        <div class="col-3">
            <input type="text"
                   class="form-control"
                   placeholder="Пользователь"
                   ng-model="$ctrl.search">
        </div>

        <div class="col-3">
            <select ng-model="$ctrl.status" class="form-control">
                <option value="">Выберите статус</option>
                <option value="opened">Открытые</option>
                <option value="published">На рассмотрении</option>
                <option value="closed">Закрытые</option>
            </select>
        </div>

        <div class="col-3">
            <select class="form-control"
                    ng-model="$ctrl.managerId"
                    ng-options="manager.id as manager.full_name for manager in $ctrl.managers">
                <option value="">Выберите оператора</option>
            </select>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.loading">Поиск</button>
            <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>
        </div>

    </div>

</form>

<div class="mb-3 clearfix">

    <div class="float-left">
        Всего: <b>{{ $ctrl.total }}</b> {{ $ctrl.total | plural : ['программа', 'программы', 'программ'] }}
    </div>

</div>

<table class="table bg-white" style="font-size: 14px">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>Пользователь</th>
        <th>Название</th>
        <th>Дата отправки</th>
        <th>Статус</th>
        <th>Ответственный</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="app in $ctrl.applications track by $index">
        <td>{{app.id}}</td>
        <td>{{app.user.full_name}}</td>
        <td>
            {{app.entity_model}} {{app.entity.title}}
<!--            truncate title-->
        </td>
        <td>{{app.created_at | amDateFormat : 'DD.MM.YYYY HH:mm'}}</td>
        <td ng-switch="app.status">
            <div class="badge badge-danger" ng-switch-when="opened" style="font-size: 12px">Новая</div>
            <div class="badge badge-info" ng-switch-when="process" style="font-size: 12px">На рассмотрении</div>
            <div class="badge badge-success" ng-switch-when="closed" style="font-size: 12px">Закрытая</div>
        </td>
        <td>{{app.manager.full_name}}</td>
        <td class="text-center">
            <a href=""
               class="btn btn-primary btn-xs"
               ng-href="/control-panel/applications/{{app.id}}">
                <i class="fa fa-external-link"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>


<ul uib-pagination
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    ng-change="$ctrl.getList()"
    items-per-page="20"
    template-url="b4-pagination">
</ul>