
<div class="card">
    <div class="card-body">

        <ul class="nav nav-pills nav-fill mb-3">
            <li class="nav-item">
                <a class="nav-link"
                   ng-class="{active: $ctrl.step == 1}"
                   ng-click="$ctrl.toStep(1)"
                   href="">
                    1. Заполните основную информацию
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   ng-class="{active: $ctrl.step == 2, disabled: $ctrl.step < 2}"
                   ng-click="$ctrl.toStep(2)"
                   href="">
                    2. Сделайте страницу
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   ng-class="{active: $ctrl.step == 3, disabled: $ctrl.step < 3}"
                   ng-click="$ctrl.toStep(3)"
                   href="">
                    3. Добавьте формы
                </a>
            </li>
        </ul>

        <form ng-submit="$ctrl.toStep(2)" role="form" ng-show="$ctrl.step == 1">

            <div class="form-group">
                <label>Название:</label>
                <input type="text" class="form-control" placeholder="Введите название" ng-model="$ctrl.title" required>
                <small class="form-text text-muted">Обязательное поле</small>
            </div>

            <div class="form-group">
                <label>Краткое описание:</label>
                <textarea class="form-control"
                          rows="3"
                          ng-model="$ctrl.shortDescription"
                          placeholder="Введите краткое описание"
                          required></textarea>
                <small class="form-text text-muted">Обязательное поле</small>
            </div>

            <div class="form-group">
                <label>Дата окончания приема заявок:</label>
                <input type="date" class="form-control" ng-model="$ctrl.limitDate">
            </div>

            <div class="form-group">
                <label>Дата начало:</label>
                <input type="date" class="form-control" ng-model="$ctrl.startDate">
            </div>

            <div class="form-group">
                <label>Дата окончания:</label>
                <input type="date" class="form-control" ng-model="$ctrl.endDate">
            </div>

            <button type="submit" class="btn btn-primary">
                Следующий шаг <span class="fa fa-angle-right"></span>
            </button>

        </form>

        <div ng-show="$ctrl.step == 2">

            <div class="form-group">
                <label>Страница:</label>
<!--                <textarea class="form-control" ng-model="$ctrl.content" rows="30"></textarea>-->
                <div id="" class="front-styled">
                </div>

            </div>


            <button type="button" class="btn btn-primary" ng-click="$ctrl.toStep(3)">
                Следующий шаг <span class="fa fa-angle-right"></span>
            </button>

        </div>

        <div ng-show="$ctrl.step == 3">

            <iframe allowfullscreen="allowfullscreen" id="passportResult" style="width: 100%; height: 100vh; margin-bottom: 10px" class="front-styled">
            </iframe>
            <div style="height: 500px; margin-bottom: 10px">Формы</div>

            <div class="text-muted mb-2">Нет выбранных форм</div>

            <ul class="list-group mb-2">
                <li class="list-group-item" ng-repeat="f in $ctrl.selectedForms track by $index">
                    {{f.title}}
                </li>
            </ul>

            <form ng-submit="$ctrl.addForm()">
                <div class="form-group">
                    <label>Форма:</label>
                    <select ng-model="$ctrl.selectedForm"
                            ng-options="f as f.title for f in $ctrl.forms"
                            class="form-control">
                        <option value="">Выберите форму</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>

            <button type="button" class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="$ctrl.loading">
                Сохранить
            </button>

        </div>

    </div>
</div>

