.button {
    padding: 12px 20px;
    @include text-style(1.5rem, 500, #ffffff);

    border-radius: 7px;
    background-color: $elem-color;

    &[disabled] {
        background-color: #c4c4c4;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--lg {
        padding: 12px 45px;
    }

    &--white {
        background-color: #ffffff;
        @include text-style(1.6rem, 500, #181515);
        padding: 10px 20px;
    }

    &--w100 {
        width: 100%;
    }
}