.events {

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        overflow: auto;
    }

    &__card {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}