.event-box {
    width: 550px;
    height: 247px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #181515;
    padding: 35px 25px;
    position: relative;

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__tag {
        position: absolute;
        bottom: 25px;
        right: 25px;
        z-index: 2;
    }

    &__info {
        width: 50%;
    }

    &__date {
        @include text-style(1.6rem, 400, #ffffff);
        margin-bottom: 10px;
    }

    &__title {
        @include text-style(1.8rem, 700, #ffffff);
        line-height: 22px;
        margin-bottom: 15px;
    }

    &__subtitle {
        @include text-style(1.6rem, 400, #ffffff);
        line-height: 20px;
        margin-bottom: 25px;
    }

    &__button {

    }
}