.innovation-request {
    position: relative;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 7px;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        position: relative;
        z-index: 2;
        @include text-style(2rem, 700, #ffffff);
        line-height: 24.38px;
        width: 500px;
    }

    &__button {
        position: relative;
        z-index: 2;
        flex-shrink: 0;
    }
}