.program-info {

    &__container {
        @extend %container;
    }

    &__title {
        @include text-style(2.4rem, 700, #181515);
        line-height: 29px;
        margin-bottom: 60px;
        text-align: center;
    }

    &__table {

        tr {
            &:not(:last-child) {
                th,td {
                    border-bottom: 1px solid #E8E8E8;
                }
            }
        }

        th,td {
            vertical-align: top;
            text-align: left;
            padding: 20px 0;
        }

        th {
            @include text-style(2rem, 600, #181515);
            line-height: 24px;
            white-space: nowrap;
        }

        td {
            padding-left: 147px;
            @include text-style(1.4rem, 500, #181515);
            line-height: 17px;
        }
    }
}