.program-page {

    padding: 0 0 100px 0;
    background-color: #ffffff;

    &__section {
        min-height: 150px;
        &:not(:last-child) {
            margin-bottom: 120px;
        }
    }
}
