.program-welcome-section {

    position: relative;
    min-height: 700px;

    &__img {
        width: 100%;
    }

    &__info {
        text-align: center;
        width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        @include text-style(3.6rem, 700, #ffffff);
        line-height: 44px;
        margin-bottom: 20px;
    }

    &__subtitle {
        @include text-style(1.6rem, 500, #ffffff);
        line-height: 19.5px;
        margin-bottom: 30px;
    }
}
