.team-card {

    &__img {
        width: 222px;
        height: 303px;
        border-radius: 7px;
        margin-bottom: 20px;
    }

    &__name {
        @include text-style(1.8rem, 700, #181515);
        margin-bottom: 15px;
    }

    &__job {
        @include text-style(1.6rem, 400, #181515);
    }
}