<div class="content__welcome-section startup-welcome-section">

    <div class="startup-welcome-section__info">

        <div class="startup-welcome-section__title">
            {{'Startups' | translate}}
            <img src="/img/icons/satellite-colored.svg" alt="" class="startup-welcome-section__icon">
        </div>

        <div class="startup-welcome-section__subtitle">
            Если Вы хотите чтобы о вашем стартапе узнали <br>
            наши пользователи, нажмите "заполнить"!
        </div>

        <button type="button"
                ng-click="$ctrl.openStartupForm()"
                class="startup-welcome-section__btn button button--lg">
            Заполнить
        </button>

    </div>

    <img src="/img/startup-poster-img.svg" alt="" class="startup-welcome-section__img">

</div>


<div class="content__companies companies">

    <div class="companies__title">Компании</div>

    <div class="companies__list">

        <div class="companies__item smart-box smart-box--company"
             ng-repeat="startup in $ctrl.startups track by $index">

            <a href="" ng-show="startup.link" class="smart-box__website-link">{{startup.link}}</a>

            <div class="smart-box__body">

                <img src="" ng-src="{{startup.logotype_url}}" alt="" class="smart-box__logo">

                <div class="smart-box__title">
                    {{startup.project_name}}
                </div>

                <div class="smart-box__text">
                    {{startup.description}}
                </div>

            </div>

        </div>

    </div>

</div>
