<div class="alert alert-default-warning" ng-show="$ctrl.event.status == 'draft'">
    Данное мероприятие еще не опубликовано.
    <button type="button" class="btn btn-primary btn-sm ml-2" ng-click="$ctrl.openToPublishModal()">Опубликовать
    </button>
</div>
<a href="" class="btn btn-primary btn-sm mb-3">
    Посмотреть
</a>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="" ng-href="/control-panel/events/{{$ctrl.event.id}}/main">
                    Основная информация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-href="/control-panel/events/{{$ctrl.event.id}}/page">Страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" ng-href="/control-panel/events/{{$ctrl.event.id}}/forms">Анкета</a>
            </li>
        </ul>
    </div>
    <form role="form" ng-submit="$ctrl.save()">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-6">
                    <label>Название:</label>
                    <input type="text" class="form-control" placeholder="Введите название" ng-model="$ctrl.name">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Дата и время провидения:</label>
                    <div class="row">
                        <div class="col-8">
                            <input type="date" class="form-control" ng-model="$ctrl.startDate">
                        </div>
                        <div class="col-4">
                            <input type="time" class="form-control" ng-model="$ctrl.startDateTime">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Краткое описание</label>
                <textarea class="form-control" ng-model="$ctrl.description"></textarea>
                <small id="emailHelp" class="form-text text-muted">Не больше 100 символов. Символы:
                    {{$ctrl.description.length}} </small>
            </div>

            <div class="form-group">
                <label>Изображение:</label>
                <div class="mb-2">
                    <img ng-show="!$ctrl.image && $ctrl.event.photo_url" ng-src="{{$ctrl.event.photo_url}}"/>
                    <div class="row align-items-center" ng-show="$ctrl.myCroppedImage">
                        <div class="col-3">
                            <img ngf-thumbnail="$ctrl.myCroppedImage"/>
                        </div>
                        <div class="col-3 mt-5">
                            <ui-cropper area-type="square"
                                        image="$ctrl.image"
                                        result-image="$ctrl.myCroppedImage"></ui-cropper>
                        </div>
                    </div>
                </div>
                <div>
                    <a class="btn btn-light"
                       ngf-select=""
                       ng-model="$ctrl.image"
                       accept="image/*">

                        <span ng-show="!$ctrl.image">Выбрать изображение</span>
                        <span ng-show="$ctrl.image">Изменить изображение</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.loading">
                Сохранить
            </button>
        </div>
    </form>
</div>
