<form class="mb-2" ng-submit="$ctrl.filter()">
    <div class="form-row">

        <div class="col-3">
            <input type="text"
                   class="form-control"
                   placeholder="Введите ФИО, email или телефон"
                   ng-model="$ctrl.search">
        </div>

        <div class="col-3">
            <select class="form-control"
                    ng-model="$ctrl.roleId"
                    ng-options="role.id as role.name for role in $ctrl.roles">
                <option value="">Роль</option>
            </select>
        </div>

        <div class="col-3">
            <select ng-model="$ctrl.status" class="form-control">
                <option value="">Статус</option>
                <option value="active">Активный</option>
                <option value="inactive">Неактивный</option>
            </select>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Поиск</button>
            <button type="button" class="btn btn-secondary" ng-click="$ctrl.reset()">Сбросить</button>
        </div>

    </div>
</form>

<div class="mb-2">Всего: <b>{{ $ctrl.total }}</b>.</div>

<table class="table table-bordered bg-white" style="font-size: 14px">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Email</th>
        <th>Роли</th>
        <th class="text-center">Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in $ctrl.users track by $index">
        <td>{{ user.id }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <div ng-repeat="role in user.roles track by $index">{{role.label}}</div>
        </td>
        <td class="text-center">
            <span class="text-success" ng-show="user.is_active">Активный</span>
            <span class="text-danger" ng-show="!user.is_active">Неактивный</span>
        </td>
        <td class="text-center">
            <a href="" ng-href="/control-panel/{{user.id}}/edit" class="btn btn-primary btn-xs">
                <i class="fa fa-edit"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<ul uib-pagination
    template-url="b4-pagination"
    total-items="$ctrl.total"
    ng-model="$ctrl.page"
    items-per-page="10"
    ng-change="$ctrl.getList()">
</ul>